<div class="facets__categories {{ class }}{% if filter_mode == 'dropdown' %} categories-dropdown{% if active == true %} active{% endif %}{% endif %}">
    <span class="facets__label mb-0">{{ heading | upcase }}
      {%- if filter_mode == 'dropdown' -%}
        <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
        </svg>
      {%- endif -%}
    </span>
    <div class="facets__categories-content">
      <ul class="facets__categories-list list-unstyled" role="list">
        {%- assign customerTags = customer.tags | downcase -%}

        {%- for col in collection_list -%}

          {%- if customerTags contains 'wholesale' -%}
            {%- if col.url contains 'shop-all-products' -%}
              {%- assign col_url = '/collections/ws-shop-all-products' -%}
            {%- elsif col.url contains 'new-arrivals' -%}
              {%- assign col_url = '/collections/ws-new-arrivals' -%}
            {%- else -%}
              {%- assign col_url = col.url -%}
            {%- endif -%}
          {%- else -%}
            {%- assign col_url = col.url -%}
          {%- endif -%}
          
          <li class="facets__categories-item{% if forloop.index > max_preview_size %} show-more-items hidden{% endif %}"><a {% if col_url == collection.url %}class="active-page"{% endif %} href="{{ col_url }}">{{ col.title }}</a></li>
        {%- endfor -%}
      </ul>
      {%- if collection_list.count > max_preview_size -%}
      <span class="button-show-more btn-show-more-items">
        <span class="label-show-more-cat label-text">{{ 'products.facets.show_more' | t }} Collections</span>
        <span class="label-show-less-cat label-text hidden">{{ 'products.facets.show_less' | t }} Collections</span>
      </span>
      {%- endif -%}
    </div>
</div>