{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
    - price_class: {String} Adds a price class to the price element (optional)

    Usage:
    {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="price
  {%- if price_class %} {{ price_class }}{% endif -%}
  {%- if available == false %} price--sold-out {% endif -%}
  {%- if compare_at_price > price %} price--on-sale {% endif -%}
  {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
  {%- if show_badges %} price--show-badge{% endif -%}">
  <div class="price__container">
    {%- comment -%}
      Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    <div class="price__regular">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      <span class="price-item price-item--regular">
        {{ money_price }}
      </span>
    </div>
    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale price-item--last">
        {{ money_price }}
      </span>
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span>
          <s class="price-item price-item--regular">
            {% if settings.currency_code_enabled %}
              {{ compare_at_price | money_with_currency }}
            {% else %}
              {{ compare_at_price | money }}
            {% endif %}
          </s>
        </span>
      {%- endunless -%}
    </div>
    <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  </div>
  {%- if show_badges -%}
    <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
      <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M47.7029 25.0027L49.8965 19.281C50.1372 18.6498 49.9497 17.9342 49.4216 17.5061L44.6655 13.6499L43.703 7.59699C43.5967 6.92826 43.0717 6.4064 42.403 6.30015L36.3501 5.33768L32.4971 0.578445C32.0721 0.0503355 31.3408 -0.137159 30.7252 0.103459L25.0004 2.30027L19.2787 0.106584C18.6443 -0.137159 17.935 0.0565854 17.5069 0.58157L13.6507 5.3408L7.5978 6.30328C6.93219 6.40952 6.40721 6.93451 6.30096 7.60011L5.33849 13.6531L0.579257 17.5092C0.0542731 17.9342 -0.136346 18.6498 0.104272 19.281L2.29796 25.0027L0.104272 30.7244C-0.139471 31.3557 0.0542731 32.0713 0.579257 32.4962L5.33849 36.3493L6.30096 42.4022C6.40721 43.0709 6.92907 43.5959 7.5978 43.7022L13.6507 44.6646L17.5069 49.4207C17.935 49.952 18.6506 50.1395 19.2818 49.8957L25.0004 47.7052L30.7221 49.8989C30.9034 49.9676 31.0909 50.002 31.2815 50.002C31.7408 50.002 32.1939 49.7989 32.4971 49.4207L36.3501 44.6646L42.403 43.7022C43.0717 43.5959 43.5967 43.0709 43.703 42.4022L44.6655 36.3493L49.4216 32.4962C49.9497 32.0681 50.1372 31.3557 49.8965 30.7244L47.7029 25.0027Z" fill="#F44336"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6279 17.1874C15.6279 19.7717 17.731 21.8747 20.3153 21.8747C22.8996 21.8747 25.0027 19.7717 25.0027 17.1874C25.0027 14.6031 22.8996 12.5 20.3153 12.5C17.731 12.5 15.6279 14.6031 15.6279 17.1874ZM18.7541 17.1875C18.7541 16.325 19.4541 15.625 20.3165 15.625C21.179 15.625 21.879 16.325 21.879 17.1875C21.879 18.0499 21.179 18.7499 20.3165 18.7499C19.4541 18.7499 18.7541 18.0499 18.7541 17.1875Z" fill="#FAFAFA"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.002 32.8163C25.002 35.4006 27.105 37.5036 29.6893 37.5036C32.2736 37.5036 34.3767 35.4006 34.3767 32.8163C34.3767 30.232 32.2736 28.1289 29.6893 28.1289C27.105 28.1289 25.002 30.232 25.002 32.8163ZM28.1281 32.8164C28.1281 31.957 28.8312 31.2539 29.6906 31.2539C30.5499 31.2539 31.253 31.957 31.253 32.8164C31.253 33.6757 30.5499 34.3788 29.6906 34.3788C28.8312 34.3788 28.1281 33.6757 28.1281 32.8164Z" fill="#FAFAFA"/>
        <path d="M17.189 37.501C16.8734 37.501 16.5578 37.4072 16.2828 37.2104C15.5797 36.7073 15.4172 35.7323 15.9203 35.0292L31.5448 13.1548C32.0479 12.4517 33.0229 12.2892 33.726 12.7923C34.4291 13.2923 34.5885 14.2704 34.0885 14.9704L18.464 36.8448C18.1546 37.2729 17.6765 37.501 17.189 37.501Z" fill="#FAFAFA"/>
        <path d="M47.7029 25.0017L49.8965 19.2803C50.1372 18.649 49.9497 17.9335 49.4216 17.5054L44.6654 13.6494L43.703 7.59669C43.5967 6.92798 43.0717 6.40614 42.403 6.2999L36.3501 5.33747L32.4971 0.578422C32.0721 0.0503335 31.3408 -0.137153 30.7252 0.103455L25.0004 2.30018L19.2787 0.10658C18.6443 -0.137153 17.935 0.0565831 17.5069 0.581547L13.6507 5.34059L7.5978 6.30303C6.93219 6.40927 6.40721 6.93423 6.30096 7.59981L5.33849 13.6525L0.579257 17.5085C0.0542731 17.9335 -0.136346 18.649 0.104272 19.2803L2.29796 25.0017L0.104272 30.7232C-0.139471 31.3544 0.0542731 32.07 0.579257 32.495L5.33849 36.3478L6.30096 42.4005C6.40721 43.0692 6.92907 43.5942 7.5978 43.7004L13.6507 44.6629L17.5069 49.4188C17.935 49.95 18.6506 50.1375 19.2818 49.8938L25.0004 47.7033L30.7221 49.8969C30.9034 49.9656 31.0909 50 31.2815 50C31.7408 50 32.1939 49.7969 32.4971 49.4188L36.3501 44.6629L42.403 43.7004C43.0717 43.5942 43.5967 43.0692 43.703 42.4005L44.6654 36.3478L49.4216 32.495C49.9497 32.0669 50.1372 31.3544 49.8965 30.7232L47.7029 25.0017Z" fill="#F44336"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M34 22.4998C34 23.3267 34.6729 23.9997 35.4998 23.9997C36.3267 23.9997 36.9997 23.3267 36.9997 22.4998C36.9997 21.6729 36.3267 21 35.4998 21C34.6729 21 34 21.6729 34 22.4998ZM35.0003 22.5002C35.0003 22.2242 35.2242 22.0003 35.5002 22.0003C35.7762 22.0003 36.0001 22.2242 36.0001 22.5002C36.0001 22.7762 35.7762 23.0001 35.5002 23.0001C35.2242 23.0001 35.0003 22.7762 35.0003 22.5002Z" fill="#FAFAFA"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.9971 27.4979C36.9971 28.3248 37.67 28.9977 38.4969 28.9977C39.3238 28.9977 39.9967 28.3248 39.9967 27.4979C39.9967 26.671 39.3238 25.998 38.4969 25.998C37.67 25.998 36.9971 26.671 36.9971 27.4979ZM37.9973 27.4983C37.9973 27.2233 38.2223 26.9983 38.4973 26.9983C38.7722 26.9983 38.9972 27.2233 38.9972 27.4983C38.9972 27.7732 38.7722 27.9982 38.4973 27.9982C38.2223 27.9982 37.9973 27.7732 37.9973 27.4983Z" fill="#FAFAFA"/>
        <path d="M34.4995 28.9997C34.3985 28.9997 34.2975 28.9697 34.2095 28.9067C33.9846 28.7457 33.9326 28.4337 34.0935 28.2087L39.093 21.2095C39.254 20.9846 39.5659 20.9326 39.7909 21.0935C40.0159 21.2535 40.0669 21.5665 39.9069 21.7905L34.9075 28.7897C34.8085 28.9267 34.6555 28.9997 34.4995 28.9997Z" fill="#FAFAFA"/>
        <path d="M9.50975 21.488C9.50975 20.5813 9.72308 19.888 10.1497 19.408C10.5871 18.9173 11.2378 18.672 12.1018 18.672C12.9658 18.672 13.6111 18.9173 14.0378 19.408C14.4751 19.888 14.6938 20.5813 14.6938 21.488V21.84H13.0298V21.376C13.0298 20.9707 12.9498 20.688 12.7898 20.528C12.6404 20.3573 12.4271 20.272 12.1498 20.272C11.8724 20.272 11.6538 20.3573 11.4938 20.528C11.3444 20.688 11.2698 20.9707 11.2698 21.376C11.2698 21.76 11.3551 22.1013 11.5258 22.4C11.6964 22.688 11.9098 22.9653 12.1658 23.232C12.4218 23.488 12.6938 23.7493 12.9818 24.016C13.2804 24.272 13.5578 24.5547 13.8138 24.864C14.0698 25.1733 14.2831 25.5253 14.4538 25.92C14.6244 26.3147 14.7098 26.7787 14.7098 27.312C14.7098 28.2187 14.4858 28.9173 14.0378 29.408C13.6004 29.888 12.9498 30.128 12.0858 30.128C11.2218 30.128 10.5658 29.888 10.1178 29.408C9.68042 28.9173 9.46175 28.2187 9.46175 27.312V26.624H11.1258V27.424C11.1258 27.8293 11.2058 28.112 11.3658 28.272C11.5364 28.432 11.7604 28.512 12.0378 28.512C12.3151 28.512 12.5338 28.432 12.6938 28.272C12.8644 28.112 12.9498 27.8293 12.9498 27.424C12.9498 27.04 12.8644 26.704 12.6938 26.416C12.5231 26.1173 12.3098 25.84 12.0538 25.584C11.7978 25.3173 11.5204 25.056 11.2218 24.8C10.9338 24.5333 10.6618 24.2453 10.4058 23.936C10.1498 23.6267 9.93642 23.2747 9.76575 22.88C9.59508 22.4853 9.50975 22.0213 9.50975 21.488ZM21.4141 30H19.6381L19.3341 27.968H17.1741L16.8701 30H15.2541L17.0461 18.8H19.6221L21.4141 30ZM17.3981 26.448H19.0941L18.2461 20.784L17.3981 26.448ZM22.2338 18.8H23.9938V28.4H26.8898V30H22.2338V18.8ZM29.4156 23.52H31.8316V25.12H29.4156V28.4H32.4556V30H27.6556V18.8H32.4556V20.4H29.4156V23.52Z" fill="white"/>
        </svg>        
    </span>

    <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
      {{ 'products.product.sold_out' | t }}
    </span>
  {%- endif -%}
</div>
