{%- style -%}
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top_mob }}px;
    margin-bottom: {{ section.settings.margin_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
  @media screen and (min-width: 1440px) {
    .brand-ambassador-form__container {
      width: 1340px;
    }
  }
{%- endstyle -%}

<div class="brand-ambassador-form__container mx-auto c-grey-10-bg">
  <div class="wholesale-form__container  gradient c-grey-10-bg section-{{ section.id }}-margin">
    {%- form 'contact', id: 'BrandAmbassadorForm', class: 'wholesale-form__fields-container d-flex flex-column' -%}
      <div class="wholesale-form__fields d-flex justify-content-between sm-flex-column flex-wrap mt-wtr">
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">COMPANY NAME</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-name" name="contact[name]" placeholder="Name">
        </div>
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">PHONE NUMBER</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-phone" name="contact[phone]" placeholder="Your phone">
        </div>
      </div>
      <div class="wholesale-form__fields d-flex justify-content-between sm-flex-column flex-wrap mt-wtr">
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">SALES TAX ID</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-sales" name="contact[sales]">
        </div>
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">EMAIL</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-email" name="contact[email]">
        </div>
      </div>
      <div class="wholesale-form__fields d-flex flex-column mt-wtr">
          <label class="wholesale-form__label">WEBSITE URL</label>
          <input class="wholesale-form__field lg" type="text" id="ContactForm-web-url" name="contact[web-url]">
      </div>
      <div class="wholesale-form__fields d-flex flex-column mt-wtr">
        <label class="wholesale-form__label">FACEBOOK PAGE</label>
        <input class="wholesale-form__field lg" type="text" id="ContactForm-facebook" name="contact[facebook]">
      </div>
      <div class="wholesale-form__fields d-flex justify-content-between sm-flex-column flex-wrap mt-wtr">
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">CITY</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-city" name="contact[city]">
        </div>
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">STATE/PROVINCE</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-state" name="contact[state]">
        </div>
      </div>
      <div class="wholesale-form__fields d-flex justify-content-between sm-flex-column flex-wrap mt-wtr">
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">POSTAL / ZIP CODE</label>
          <input class="wholesale-form__field md" type="text" id="ContactForm-city" name="contact[city]">
        </div>
        <div class="wholesale-form__field-container d-flex flex-column">
          <label class="wholesale-form__label">COUNTRY</label>
          <input class="wholesale-form__field md" type="disable" value="United States of America" id="ContactForm-state" name="contact[state]">
        </div>
      </div>
      <div class="wholesale-form__fields d-flex flex-column mt-wtr">
        <label class="wholesale-form__label">HOW DID YOU HEAR ABOUT US?</label>
        <input class="wholesale-form__field lg" type="text" id="ContactForm-hear-about" name="contact[hear-about]">
      </div>
      {%- comment -%}
      <div class="wholesale-form__text">Thank you for your submission. We will contact you within 1-2 weeks with a response. For further contact, you can reach us at newbusiness@routeoneapparel.com.</div>
      {%- endcomment -%}
      <button type="submit" class="btn-red-1 wholesale-form__btn" id="submit_wholesale">SUBMIT</button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Brand ambassador form",
  "tag": "section",
  "class": "section wholesale-form",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Margin bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "margin_top_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin bottom mobile",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Brand ambassador form"
    }
  ]
}
{% endschema %}