{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
.positioning--{{ s.id }} {
    padding: {{ ss.padding_section_sm }};
}
@media (min-width: 768px) {
    .positioning--{{ s.id }} {
        padding: {{ ss.padding_section }};
    }
}
{%- endstyle -%}

<section class="collections-states positioning--{{ s.id }}">
    <div class="page-width">
        <h1 class="text-center text-32px">
            {%- if ss.custom_heading != blank -%}
                {{ ss.custom_heading | upcase }}
            {%- else -%}
                {{ page.title | upcase }}
            {%- endif -%}
        </h1>
        <div class="collections-states__blocks">
            {%- for b in s.blocks -%}
                <div class="collections-states__block-item">
                    <img 
                    {% render 'src-set', image: b.settings.bg_image %}
                    src="{{ b.settings.bg_image | image_url: width: 1500 }}"
                    alt="{{ b.settings.bg_image.alt }}" class="block-item__bg d-none d-md-block">
                    <img 
                    {% render 'src-set', image: b.settings.bg_image_mob %}
                    src="{{ b.settings.bg_image_mob | image_url: width: 1500 }}"
                    alt="{{ b.settings.bg_image_mob.alt }}" class="block-item__bg d-md-none">
                    <div class="block-item__content">
                        <div class="block-item__content-aside">
                            <h2 class="text-40px-all c-white">{{ b.settings.name | upcase }}</h2>
                            {%- if b.settings.link_name != blank -%}
                                <a href="{{ b.settings.link }}" class="button__white d-none d-lg-block">{{ b.settings.link_name }}</a>
                            {%- endif -%}
                        </div>
                        <div class="block-item__content-list">
                            {%- for collection in b.settings.collection_list -%}
                                <a href="{{ collection.url }}">{{ collection.title }}</a>
                            {%- endfor -%}
                        </div>
                        {%- if b.settings.link_name != blank -%}
                            <a href="{{ b.settings.link }}" class="btn-mob button__white d-lg-none">{{ b.settings.link_name }}</a>
                        {%- endif -%}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collections states",
    "settings": [
        {
            "type": "text",
            "id": "custom_heading",
            "label": "Custom heading"
        },                  
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "padding_section",
            "label": "Padding section"
        },
        {
            "type": "text",
            "id": "padding_section_sm",
            "label": "Padding section (mobile)"
        }
    ],
    "blocks": [
        {
            "type": "collections-block",
            "name": "Collections block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Background image"
                },
                {
                    "type": "image_picker",
                    "id": "bg_image_mob",
                    "label": "Background image (mobile)"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Block name"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },                  
                {
                    "type": "text",
                    "id": "link_name",
                    "label": "Link name"
                },
                {
                    "type": "collection_list",
                    "id": "collection_list",
                    "label": "Collections"
                }                              
            ]
        }
    ],
    "presets": [
        {
            "name": "Collections states",
            "category": "new"
        }
    ]
}
{% endschema %}