{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="content-width-text isolate section-{{ section.id }}-padding">
  <div id="ImageWithText--{{ section.id }}" class="content-width-text__content gradient content-container">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <div class="content-withtext__content" style="margin-top: {{ block.settings.margin_top }}px">
            <div class="content-withtext__heading">{{ block.settings.heading }}</div>
            <div class="content-withtext__text">{{ block.settings.text }}</div>
          </div>
        {%- when 'image' -%}
          {%- if block.settings.image != blank -%}
            <img
              srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
              src="{{ block.settings.image | image_url: width: 1500 }}"
              alt="{{ block.settings.image.alt | escape }}"
              class="content-withtext__image"
              loading="lazy"
            >
          {%- endif -%}
        {%- when 'collage' -%}
          <div class="content-withtext__collage d-flex flex-wrap">
            <div class="collage_1 d-flex">
              <div class="collage_1_2 d-flex">
                <img
                  srcset="{%- if block.settings.image_1.width >= 165 -%}{{ block.settings.image_1 | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image_1.width >= 360 -%}{{ block.settings.image_1 | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image_1.width >= 535 -%}{{ block.settings.image_1 | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image_1.width >= 750 -%}{{ block.settings.image_1 | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image_1.width >= 1070 -%}{{ block.settings.image_1 | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image_1.width >= 1500 -%}{{ block.settings.image_1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image_1 | image_url }} {{ block.settings.image_1.width }}w"
                  src="{{ block.settings.image_1 | image_url: width: 1500 }}"
                  alt="{{ block.settings.image_1.alt | escape }}"
                  loading="lazy"
                >
                <img
                  srcset="{%- if block.settings.image_2.width >= 165 -%}{{ block.settings.image_2 | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image_2.width >= 360 -%}{{ block.settings.image_2 | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image_2.width >= 535 -%}{{ block.settings.image_2 | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image_2.width >= 750 -%}{{ block.settings.image_2 | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image_2.width >= 1070 -%}{{ block.settings.image_2 | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image_2.width >= 1500 -%}{{ block.settings.image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image_2 | image_url }} {{ block.settings.image_2.width }}w"
                  src="{{ block.settings.image_2 | image_url: width: 1500 }}"
                  alt="{{ block.settings.image_2.alt | escape }}"
                  loading="lazy"
                >
              </div>
              <img
                srcset="{%- if block.settings.image_3.width >= 165 -%}{{ block.settings.image_3 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image_3.width >= 360 -%}{{ block.settings.image_3 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image_3.width >= 535 -%}{{ block.settings.image_3 | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if block.settings.image_3.width >= 750 -%}{{ block.settings.image_3 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image_3.width >= 1070 -%}{{ block.settings.image_3 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if block.settings.image_3.width >= 1500 -%}{{ block.settings.image_3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ block.settings.image_3 | image_url }} {{ block.settings.image_3.width }}w"
                src="{{ block.settings.image_3 | image_url: width: 1500 }}"
                alt="{{ block.settings.image_3.alt | escape }}"
                loading="lazy"
              >
            </div>
            <div class="collage_2 d-flex">
              <div class="collage_2_1 d-flex flex-column">
                <img
                  srcset="{%- if block.settings.image_4.width >= 165 -%}{{ block.settings.image_4 | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image_4.width >= 360 -%}{{ block.settings.image_4 | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image_4.width >= 535 -%}{{ block.settings.image_4 | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image_4.width >= 750 -%}{{ block.settings.image_4 | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image_4.width >= 1070 -%}{{ block.settings.image_4 | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image_4.width >= 1500 -%}{{ block.settings.image_4 | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image_4 | image_url }} {{ block.settings.image_4.width }}w"
                  src="{{ block.settings.image_4 | image_url: width: 1500 }}"
                  alt="{{ block.settings.image_4.alt | escape }}"
                  loading="lazy"
                >
                <div class="collage_2_2 d-flex">
                  <img
                    srcset="{%- if block.settings.image_5.width >= 165 -%}{{ block.settings.image_5 | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if block.settings.image_5.width >= 360 -%}{{ block.settings.image_5 | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if block.settings.image_5.width >= 535 -%}{{ block.settings.image_5 | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if block.settings.image_5.width >= 750 -%}{{ block.settings.image_5 | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.image_5.width >= 1070 -%}{{ block.settings.image_5 | image_url: width: 1070 }} 1070w,{%- endif -%}
                      {%- if block.settings.image_5.width >= 1500 -%}{{ block.settings.image_5 | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ block.settings.image_5 | image_url }} {{ block.settings.image_5.width }}w"
                    src="{{ block.settings.image_5 | image_url: width: 1500 }}"
                    alt="{{ block.settings.image_5.alt | escape }}"
                    loading="lazy"
                  >
                  <img
                    srcset="{%- if block.settings.image_6.width >= 165 -%}{{ block.settings.image_6 | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if block.settings.image_6.width >= 360 -%}{{ block.settings.image_6 | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if block.settings.image_6.width >= 535 -%}{{ block.settings.image_6 | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if block.settings.image_6.width >= 750 -%}{{ block.settings.image_6 | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.image_6.width >= 1070 -%}{{ block.settings.image_6 | image_url: width: 1070 }} 1070w,{%- endif -%}
                      {%- if block.settings.image_6.width >= 1500 -%}{{ block.settings.image_6 | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ block.settings.image_6 | image_url }} {{ block.settings.image_6.width }}w"
                    src="{{ block.settings.image_6 | image_url: width: 1500 }}"
                    alt="{{ block.settings.image_6.alt | escape }}"
                    loading="lazy"
                  >
                </div>
              </div>
              <div class="collage_2_3">
                <img
                  srcset="{%- if block.settings.image_7.width >= 165 -%}{{ block.settings.image_7 | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image_7.width >= 360 -%}{{ block.settings.image_7 | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image_7.width >= 535 -%}{{ block.settings.image_7 | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image_7.width >= 750 -%}{{ block.settings.image_7 | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image_7.width >= 1070 -%}{{ block.settings.image_7 | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image_7.width >= 1500 -%}{{ block.settings.image_7 | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image_7 | image_url }} {{ block.settings.image_7.width }}w"
                  src="{{ block.settings.image_7 | image_url: width: 1500 }}"
                  alt="{{ block.settings.image_7.alt | escape }}"
                  loading="lazy"
                >
              </div> 
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Content with text",
  "class": "section content-withtext page-width",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin top",
          "default": 0
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "collage",
      "name": "Collage",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Image 6"
        },
        {
          "type": "image_picker",
          "id": "image_7",
          "label": "Image 7"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content with text"
    }
  ]
}
{% endschema %}
