<section class="footer__subscribe">
  <div class="page-width">
    <div class="footer__subscribe-wrapper d-flex flex-column align-items-center">
      <div class="footer__logo">
        <img
          src="{{ section.settings.footer_logo | image_url }}"
          alt="{{ section.settings.footer_logo.alt | escape }}"
          loading="lazy"
        >
        {% comment %} {{ section.settings.footer-logo }} {% endcomment %}
      </div>
      <p>{{ section.settings.footer-logo-text }}</p>
      {% form 'customer', class: 'newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="footer__field-wrapper">
          <div class="field footer__form-box">
            <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
            >
            <label class="field__label" for="NewsletterForm--{{ section.id }}">
              {{ 'newsletter.label' | t }}
            </label>
            <button type="submit" class="button__red" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">{{ section.settings.button-label }}</button>
          </div>
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
        {%- endif -%}
      {% endform %}
    </div>
  </div>
  <div class="footer__big-img">
    {{ section.settings.big-img }}
  </div>
</section>

<section class="footer">
  <section class="footer__mobile-menu">
    {% for block in section.blocks %}
      <div class="footer__accordion-border">
        <div class="page-width">
          <div class="footer__accordion {% if forloop.first == true%} footer-active {% endif%}">
            <div>
              <p class="footer__accordion-title">{{ linklists[block.settings.link_list].title }}</p>
            </div>
          </div>
          <div class="footer__panel d-flex align-items-center {% if forloop.first == true%} footer-active-panel {% endif%}">
            <ul>
              {% for link in linklists[block.settings.link_list].links %}
                <li><a class="link-menu " href="{{ link.url }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
  <div class="page-width">
    <div class="footer__wrapper d-flex w-100">
      <div class="footer__menu d-flex flex-wrap">
        {% for block in section.blocks %}
          <div class="footer__list">
            <ul>
              <li class="text-uppercase">{{ linklists[block.settings.link_list].title }}</li>
              {% for link in linklists[block.settings.link_list].links %}
                <li><a class="link-menu text-uppercase text-12px" href="{{ link.url }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="footer__social d-flex flex-column justify-content-between">
        <div>
          <p class="footer__social-title">{{ section.settings.footer-social-title }}</p>
          <ul class="footer__list-social list-unstyled list-social d-flex flex-wrap" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
          <p class="footer__social-title">{{ section.settings.footer-social-contact-title }}</p>
          <div class="footer__social-info">{{ section.settings.footer-social-contact-info }}</div>
        </div>
        <p class="footer__bottom-info mt-3">© 2010-{{ 'now' | date: '%Y' }} Route One Apparel LLC</p>
      </div>
    </div>
  </div>
</section>

<script>
  var faq = document.getElementsByClassName("footer__accordion");
  var i;

  for (i = 0; i < faq.length; i++) {
    faq[i].addEventListener("click", function() {
      this.classList.toggle("footer-active");
      var panel = this.nextElementSibling;
      panel.classList.toggle("footer-active-panel");
    });
  }
</script>

{% schema %}
  {
  "name": "Footer",
  "tag": "footer",
  "settings": [
  {
  "type": "header",
  "content": "Footer Subscribe"
  },
  {
    "type": "image_picker",
    "id": "footer_logo",
    "label": "Logo image"
  },
  {
  "type": "text",
  "id": "footer-logo-text",
  "label": "Text under Logo",
  "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  },
  {
  "type": "text",
  "id": "button-label",
  "label": "Button Label",
  "default": "subscribe"
  },
  {
  "type": "html",
  "id": "big-img",
  "label": "Img SVG Code"
  },
  {
  "type": "header",
  "content": "Footer Social"
  },
  {
  "type": "text",
  "id": "footer-social-title",
  "label": "Footer Social Title",
  "default": "CONNECT WITH US"
  },
  {
  "type": "text",
  "id": "footer-social-contact-title",
  "label": "Footer Contact Title",
  "default": "NEED TO GET IN TOUCH?"
  },
  {
  "type": "richtext",
  "id": "footer-social-contact-info",
  "label": "Footer Contact Info"
  }
  ],
  "blocks": [
  {
  "type": "link_list",
  "limit": 4,
  "name": "Link List",
  "settings": [
  {
  "type": "link_list",
  "id": "link_list",
  "label": "Choose a link list"
  }
  ]
  }
  ]
  }
{% endschema %}