{% comment %} {{ 'component-image-with-text.css' | asset_url | stylesheet_tag }} {% endcomment %}

{%- style -%}
  .image-with-text__content.{{ section.id }} {
    padding: {{ section.settings.padding_mobile }}
  }

  @media (min-width: 1201px) {
    .image-with-text__content.{{ section.id }} {
      padding: {{ section.settings.padding }}
    }
  }

  {%- if section.settings.full_page_mob -%}
    @media (max-width: 765px) {
      .section-{{ section.id }} {
        padding: 0;
      }
    }
  {%- endif -%}
{%- endstyle -%}

<div class="{%- if section.settings.always_center -%}always_cente{%- endif -%}r image-with-text isolate section-{{ section.id }}-padding section-{{ section.id }} {%- unless section.settings.full_page -%}page-width{% endunless %}">
  <div class="image-with-text__grid position-relative">
    <div class="image-with-text__media-item">
      {%- if section.settings.image != blank -%}
        <img
          srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | image_url: width: 1500 }}"
          class="desctop"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
        >
        <img
          srcset="{%- if section.settings.image_mobile.width >= 165 -%}{{ section.settings.image_mobile | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 360 -%}{{ section.settings.image_mobile | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 535 -%}{{ section.settings.image_mobile | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 750 -%}{{ section.settings.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1070 -%}{{ section.settings.image_mobile | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1500 -%}{{ section.settings.image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ section.settings.image_mobile | image_url }} {{ section.settings.image_mobile.width }}w"
          src="{{ section.settings.image_mobile | image_url: width: 1500 }}"
          class="mobile"
          alt="{{ section.settings.image_mobile.alt | escape }}"
          loading="lazy"
        >
      {%- endif -%}
    </div>
    <div id="ImageWithText--{{ section.id }}" class="image-with-text__content {{ section.id }} content-container">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'heading' -%}
            <style>
              .section-{{ section.id }} .image-with-text__heading span {
                font-family: {{ block.settings.font_family }}
              }
            </style>
            <h2 class="image-with-text__heading c-white {{ block.settings.size }}">{{ block.settings.heading }}</h2>
          {%- when 'text' -%}
            <div class="image-with-text__text {{ block.settings.size }}">{{ block.settings.text }}</div>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <style>
                .image-with-text__button.{{ section.id }} {
                  margin-top: {{ block.settings.margin_top_mob }}px;
                  width: {{ block.settings.width }}px;
                  height: {{ block.settings.height }}px;
                  font-size: {{ block.settings.button_font_size }}px
                }

                @media (min-width: 991.7px) {
                  .image-with-text__button.{{ section.id }} {
                    margin-top: {{ block.settings.margin_top }}px
                  }
                }
              </style>
              <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button btn-red-1 image-with-text__button {{ section.id }}" {{ block.shopify_attributes }}>
                {{ block.settings.button_label | escape }}
              </a>
            {%- endif -%}
          {%- when 'undertext' -%}
            <div class="image-with-text__undertext">{{ block.settings.text }}</div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section iwt",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "checkbox",
      "id": "full_page",
      "label": "Full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_page_mob",
      "label": "Full width on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "always_center",
      "label": "Alwats center",
      "default": false
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "7.2rem 8.8rem 4.2rem"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "Padding mobile",
      "default": "5.6rem 2rem 3.9rem"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size heading",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "font_family",
          "label": "Font family symbols",
          "info": "Use <span> tag for styling.",
          "default": "Axiforma",
          "options": [
            {
              "value": "Axiforma",
              "label": "Axiforma"
            },
            {
              "value": "Long Shot",
              "label": "Long Shot"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size heading",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "text",
          "id": "width",
          "default": "229",
          "label": "Width",
          "info": "Use rem"
        },
        {
          "type": "text",
          "id": "height",
          "default": "54",
          "label": "Height",
          "info": "Use rem"
        },
        {
          "type": "header",
          "content": "Margin"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin top",
          "default": 56
        },
        {
          "type": "range",
          "id": "margin_top_mob",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin top mobile",
          "default": 48
        }
      ]
    },
    {
      "type": "undertext",
      "name": "Undertext",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text.</p>",
          "label": "Under text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
