{% style%}
    .list__heading{{ section.id }} {
        margin-bottom:{{ section.settings.margin_heading_bottom_mob }}px !important
    }

    .list ul.{{ section.id }}-ul li + li {
        margin-top: {{ section.settings.items_range_mob }}px
    }

    @media screen and (min-width: 750px) {
        .list__heading{{ section.id }} {
            margin-bottom:{{ section.settings.margin_heading_bottom }}px !important
        }

        .list ul.{{ section.id }}-ul li + li {
            margin-top: {{ section.settings.items_range }}px
        }
    }


{% endstyle %}

<ul class="{{ section.id }}-ul">
    <p class="list__heading{{ section.id }}">{{ section.settings.heading }}</p>
    {%- if section.settings.text -%}
        <p class="list__text">{{ section.settings.text }}</p>
    {%- endif -%}
    {%- for item in section.blocks -%}
        {%- case item.type -%}
            {%- when 'item' -%}
                <li class="c-black">{{ item.settings.text }}</li>
        {%- endcase -%}
    {%- endfor -%}
</ul>
{% schema %}
{
    "name": "List",
    "class": "section page-width list",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "List items range"
        },
        {
            "type": "range",
            "id": "items_range",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Items range",
            "default": 20
        },
        {
            "type": "range",
            "id": "items_range_mob",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Items range mobile",
            "default": 14
        },
        {
            "type": "header",
            "content": "Margins"
        },
        {
            "type": "range",
            "id": "margin_heading_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Margin bottom",
            "default": 28
        },
        {
            "type": "range",
            "id": "margin_heading_bottom_mob",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Margin bottom mobile",
            "default": 23
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Item text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "List"
        }
    ]
}
{% endschema %}