{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- assign s = section -%}
{%- assign ss = s.settings -%}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if ss.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ s.id }}-padding {
    padding-top: {{ ss.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ ss.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ s.id }}-padding {
      padding-top: {{ ss.padding_top }}px;
      padding-bottom: {{ ss.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ s.id }}-padding">
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  {%- if ss.enable_sorting -%}
    <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
      <form class="facets-vertical-form" id="FacetSortForm">
        <div class="product-count-vertical light" role="status">
          <h2 class="product-count__text text-body">
            <span id="ProductCountDesktop">
              {%- if collection.results_count -%}
                {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
              {%- elsif collection.products_count == collection.all_products_count -%}
                {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
              {%- else -%}
                {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
              {%- endif -%}
            </span>
          </h2>
          <div class="loading-overlay__spinner">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="products-list__grid-buttons">
            <span class="grid-btn btn-col-2">{%- render 'icon-col-2' -%}</span>
            <span class="grid-btn btn-col-3">{%- render 'icon-col-3' -%}</span>
            <span class="grid-btn btn-col-4">{%- render 'icon-col-4' -%}</span>
          </div>
          <div class="collection-sortby">
            <div class="select-container">
              <div class="sort-by__main" id="sort-by">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <h5 class="sort-by__main-value" data-value-main="{%- for option in collection.sort_options -%}{% if option.value == sort_by %}{{ option.value | upcase }}{% endif %}{% endfor %}">{%- for option in collection.sort_options -%}{% if option.value == sort_by %}{{ option.name | upcase }}{% endif %}{% endfor %}</span>
                {% render 'icon-caret' %}
            
                <div class="sort-by__items-list">
                  {%- for option in collection.sort_options -%}
                  <div class="sort-by__item {% if option.value == sort_by %}active{% endif %}" data-value-item="{{ option.value }}">
                    <span>{{ option.name | upcase }}</span>
                  </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
          
        </div> 
      </form>
    </facet-filters-form>
  {%- endif -%}

  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
  {%- assign results = collection -%}
  {%- liquid
      assign sort_by = results.sort_by | default: results.default_sort_by
      assign total_active_values = 0
      if results.url
        assign results_url = results.url
      else
        assign terms = results.terms | escape
        assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
      endif
  -%}
  {% if ss.enable_filtering %}
    <div class="page-width products-list__top-filter">
      <div class="active-facets active-facets-desktop products-list__top-filter-results">
        <div class="active-facets-vertical-filter">
          <facet-remove class="active-facets__button-wrapper">
            <a href="{{ results_url }}" class="active-facets__button-remove">
              {%- render 'icon-filter-result' -%}
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
        {%- for filter in results.filters -%}
          {%- for value in filter.active_values -%}
            <facet-remove>
              <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                <span class="active-facets__button-inner button button--tertiary">
                  {%- render 'icon-filter-result' -%}
                  {{ filter.label }} - {{ value.label | escape }}
                  <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                </span>
              </a>
            </facet-remove>
          {%- endfor -%}
          {% if filter.type == "price_range" %}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <facet-remove>
                <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                  <span class="active-facets__button-inner button button--tertiary">
                    {%- render 'icon-filter-result' -%}
                    {{ filter.label }} - {% if filter.min_value.value %}{{ filter.min_value.value | money_without_trailing_zeros }}{% else %}{{ 0 | money_without_trailing_zeros }}{% endif %}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money_without_trailing_zeros }}{%- else -%}{{ filter.range_max | money_without_trailing_zeros }}{%- endif -%}
                    <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}  
      </div>
    </div>
  {% endif %}

  <div class="facets-vertical page-width">
    {%- if ss.enable_filtering or ss.enable_sorting -%}
      <aside aria-labelledby="verticalTitle" class="facets-wrapper{% unless ss.enable_filtering %} facets-wrapper--no-filters{% endunless %}" id="main-collection-filters" data-id="{{ s.id }}">
        {%- render 'facets-categories', class: 'facets__categories--desktop', collection_list: ss.collection_list -%}
        {% render 'facets', results: collection, enable_filtering: ss.enable_filtering, enable_sorting: ss.enable_sorting, filter_mode: ss.filter_mode, collection_list: ss.collection_list %}
      </aside>
    {%- endif -%}

    <div class="product-grid-container" id="ProductGridContainer">
      {%- paginate collection.products by ss.products_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ s.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}<br>
                {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection">
            <div class="loading-overlay gradient"></div>
    
            <ul id="product-grid" data-id="{{ s.id }}" class="products-list list-unstyled ajaxinate-container">
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="products-list__item">
                  <!-- Swym Wishlist Plus EPI Button-->
                  <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}">{%- render 'icon-swym' -%}</button>
                  <!-- Swym Wishlist Plus EPI Button-->
                  {% render 'card-product',
                    card_product: product,
                    show_secondary_image: ss.show_secondary_image,
                    show_vendor: ss.show_vendor,
                    show_rating: ss.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: ss.enable_quick_add,
                    section_id: s.id
                  %}
                </li>
              {%- endfor -%}
            </ul>
    
            <div class="ajaxinate-pagination d-none d-lg-flex">
              {% if paginate.next %}
                <a class="button__white" href="{{ paginate.next.url }}">MORE PRODUCTS</a>
              {% endif %}
            </div>
           
            <div class="d-lg-none">
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
              {%- endif -%}
            </div>
            
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

{% render 'collection-sort-by-js' %}

<script>
  //Grid columns functionality and storage
  const btnCol2 = document.querySelector('.btn-col-2'),
  btnCol3 = document.querySelector('.btn-col-3'),
  btnCol4 = document.querySelector('.btn-col-4'),
  allBtnCol = document.querySelectorAll('.grid-btn');

  function removeOtherCurrent() {
    allBtnCol.forEach(btn => {
      btn.classList.remove('current-grid');
    });
  }
  function col2Active() {
    btnCol2.classList.add('current-grid');
    document.querySelector('.products-list').classList.add('col-2-desktop');
    document.querySelector('.products-list').classList.remove('col-3-desktop', 'col-4-desktop');
  }
  function col3Active() {
    btnCol3.classList.add('current-grid');
    document.querySelector('.products-list').classList.add('col-3-desktop');
    document.querySelector('.products-list').classList.remove('col-2-desktop', 'col-4-desktop');
  }
  function col4Active() {
    btnCol4.classList.add('current-grid');
    document.querySelector('.products-list').classList.add('col-4-desktop');
    document.querySelector('.products-list').classList.remove('col-2-desktop', 'col-3-desktop');
  }
  btnCol2.addEventListener('click', () => {
    removeOtherCurrent();
    localStorage.setItem('column', '2');
    col2Active();
  });
  btnCol3.addEventListener('click', () => {
    removeOtherCurrent();
    localStorage.setItem('column', '3');
    col3Active();
  });
  btnCol4.addEventListener('click', () => {
    removeOtherCurrent();
    localStorage.setItem('column', '4');
    col4Active();
  });

  function setColumns() {
    if(document.querySelector('.products-list') != null) {
      let columnSelected = localStorage.getItem('column');
      if (columnSelected != null) {
        removeOtherCurrent();
        switch (columnSelected) {
          case '2':
            col2Active();
            break;
          case '3':
            col3Active();
            break;
          case '4':
            col4Active();
            break;
          default:
            break;
        }
      } else {
        col4Active();
      }
    }
  }
  setColumns();

  //Ajaxinate init
  document.addEventListener("DOMContentLoaded", function() {
    var endlessScroll = new Ajaxinate();
  });

  //Functionality of show more categories
  const btnShowMoreCat = document.querySelectorAll('.btn-show-more-cat'),
  labelShowMoreCat = document.querySelectorAll('.label-show-more-cat'),
  labelShowLessCat = document.querySelectorAll('.label-show-less-cat'),
  showMoreCat = document.querySelectorAll('.show-more-categories');

  btnShowMoreCat.forEach(btn => {
    btn.addEventListener('click', () => {
      function hideToggle(item) {
        item.classList.toggle('hidden');
      }
      showMoreCat.forEach(item => {
        hideToggle(item);
      });
      labelShowMoreCat.forEach(item => {
        hideToggle(item);
      });
      labelShowLessCat.forEach(item => {
        hideToggle(item);
      });
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 20,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "Collection list"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections"
    },    
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "radio",
      "id": "filter_mode",
      "label": "Filter mode",
      "options": [
        {
          "value": "usual",
          "label": "Usual"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "usual"
    },    
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}