{% comment %} <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .section-{{ section.id }}-padding .main-page-title {
    margin-bottom: {{ section.settings.title_margin_bottom }}px;
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  {%- if section.settings.show_title -%}    
    <h2 class="c-grey-1 main-page-title page-title">
      {{ page.title | escape }}
    </h2>
  {%- endif -%}
  {%- if section.settings.show_content -%}
    <div class="rte{% if page.handle == 'contact' %} pb-0{% endif %}">
      {{ page.content }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding desctop",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Botton padding desctop",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top padding mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "title_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Title margin bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "default": true,
      "label": "Show content"
    }
  ]
}
{% endschema %}
