{{ 'main-search-roa.css' | asset_url | stylesheet_tag }}

<script src="//searchserverapi.com/widgets/shopify/init.js?a=5g0K9g7k7a"></script>
<div class="main-search__input">
  <form action="{{ routes.search_url }}" method="get" role="search" class="search">
    <div class="field">
      <input
        class="search__input field__input"
        id="Search-In-Template"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.search' | t }}"
      >
      <input name="options[prefix]" type="hidden" value="last">

      <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search">
        </svg>
      </button>
    </div>
  </form>
</div>

<div class="snize" id="snize_results"></div>

<script src="{{ 'main-search-roa.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Search ROA",
    "tag": "section",
    "class": "section page-width"
  }
{% endschema %}