{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
.positioning--{{ s.id }} {
    padding: {{ ss.padding_section_sm }};
}
@media (min-width: 768px) {
    .positioning--{{ s.id }} {
        padding: {{ ss.padding_section }};
    }
}
{%- endstyle -%}

<div class="cart-custom positioning--{{ s.id }}">
  <div class="page-width">
    {%- if cart.item_count > 0 -%}
      <h1 class="text-center text-32px c-grey-1">{{ 'sections.cart.title' | t }}</h1>
      <div class="cart-custom__main">
        <div>
          <div class="cart-custom__items-headings">
            <div class="cart-custom__heading">{{ 'sections.cart.headings.product' | t | upcase }}</div>
            <div class="cart-custom__heading">{{ 'sections.cart.headings.price' | t | upcase }}</div>
            <div class="cart-custom__heading">{{ 'sections.cart.headings.quantity' | t | upcase }}</div>
            <div class="cart-custom__heading">{{ 'sections.cart.headings.total' | t | upcase }}</div>
          </div>
          <form action="{{ routes.cart_url }}" method="post" id="cart">
            <div class="cart-custom__items" id="main-cart-items" data-id="{{ s.id }}">
              {%- for item in cart.items -%}   
                <div class="cart-custom__items-item">
                  <div class="column--product">
                    <div class="cart-custom__media">
                      {%- if item.image -%}
                        <a href="{{ item.url }}"></a>
                        <img src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      {%- endif -%}
                    </div>
                    <div class="cart-custom__details">
                      {%- if ss.show_vendor -%}
                        <p class="cart-custom__option">{{ item.product.vendor | upcase }}</p>
                      {%- endif -%}
                      <a href="{{ item.url }}" class="cart-custom__name">{{ item.product.title | escape | upcase }}</a>

                      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                        <div>
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <div class="cart-custom__option">
                                <span>{{ option.name | upcase }}: <span class="c-black">{{ option.value | upcase }}</span></span>
                              </div>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div class="product-option">
                                <span>{{ property.first }}: 
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </span>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                        <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.discounts -%}
                          <li class="discounts__discount">
                            {%- render 'icon-discount' -%}
                            {{ discount.title }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                  <div class="column--price">
                    {%- if item.original_price != item.final_price -%}
                        <div class="cart-cutsom__discounted-prices">
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="cart-item__old-price product-option">
                            {{- item.original_price | money -}}
                          </s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong class="cart-item__final-price product-option">
                            {{ item.final_price | money }}
                          </strong>
                        </div>
                      {%- else -%}
                        <div class="cart-custom__price">
                          {{ item.original_price | money }}
                        </div>
                      {%- endif -%}
                  </div>
                  <div class="column--qty">
                    <div class="product-form__input product-form__quantity mt-0">
                      <quantity-input class="quantity">
                        <a href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.640243 5.36033L5.13389 9.85249C5.33107 10.0492 5.65053 10.0492 5.84821 9.85249C6.04539 9.65581 6.04539 9.33635 5.84821 9.13967L1.71099 5.00394L5.84771 0.868216C6.04489 0.671535 6.04489 0.352076 5.84771 0.154897C5.65053 -0.0417833 5.33058 -0.0417833 5.1334 0.154897L0.639745 4.64705C0.445554 4.8417 0.445554 5.16618 0.640243 5.36033Z" fill="black"></path></svg>
                        </a>
                        <input class="quantity__input quantity-line-item" type="number" name="quantity" min="1" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}">
                        <a href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.35976 4.63967L0.866105 0.14751C0.668927 -0.0491701 0.349466 -0.0491701 0.15179 0.14751C-0.0453884 0.344191 -0.0453884 0.663651 0.15179 0.860332L4.28901 4.99606L0.152288 9.13178C-0.0448904 9.32846 -0.0448904 9.64792 0.152288 9.8451C0.349466 10.0418 0.669425 10.0418 0.866603 9.8451L5.36025 5.35295C5.55445 5.1583 5.55445 4.83382 5.35976 4.63967Z" fill="black"></path></svg>                    
                        </a>
                      </quantity-input>
                      <a class="update-line-item-link visually-hidden" href="/cart/change?line={{ forloop.index }}&quantity=" type="button">Update</a>
                    </div>
                  </div>
                  <div class="column--total">
                    <div class="cart-custom__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <div class="cart-item__discounted-prices">
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <span>
                            <s class="cart-item__old-price price price--end">
                              {{ item.original_line_price | money }}
                            </s>
                          </span>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <span class="price price--end">
                            {{ item.final_line_price | money }}
                          </span>
                        </div>
                      {%- else -%}
                        <span class="cart-custom__price">
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                    <a href="{{ item.url_to_remove }}" class="cart-custom__btn-remove">
                      {% render 'icon-close' %}
                    </a>
                  </div>
                </div>
              {%- endfor -%}
            </div>
            {%- if ss.show_cart_note -%}
              <div class="cart-custom__note">
                <p class="cart-attribute__field">
                  <label class="cart-custom__heading" for="order-comment">{{ 'sections.cart.note' | t | upcase  }}</label>
                  <textarea placeholder="{{ 'sections.cart.note' | t  }}" id="order-comment" name="attributes[Order comment]">{{ cart.attributes["Order comment"] }}</textarea>
                </p>
              </div>
            {%- endif -%}
          </form>
        </div>
        <div class="cart-custom__summary">
          <div class="cart-custom__heading">{{ 'Order summary' | upcase }}</div>
          <div class="cart-custom__summary-list">
            <small class="c-red-1">FREE SHIPPING ON ALL ORDERS OVER $50, AFTER DISCOUNTS APPLIED</small>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
                <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                  {%- for discount in cart.cart_level_discount_applications -%}
                    <li class="discounts__discount discounts__discount--position summary-flex">
                      <span class="summary-heading d-flex align-items-center">
                        {%- render 'icon-discount' -%}
                        {{ discount.title | upcase }}
                      </span>
                      <span class="summary-amount">{{ discount.total_allocated_amount | money | prepend: '-' }}</span>
                    </li>
                  {%- endfor -%}
                </ul>
            {%- endif -%}
            <small class="caption-large rte pb-0">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url | upcase }}
              {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t | upcase }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url | upcase }}
              {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t | upcase }}
              {%- endif -%}
            </small>
            <div class="summary-flex">
              <span class="summary-heading">{{ 'sections.cart.subtotal' | t | upcase }}</span>
              <span class="summary-amount c-red-1">{{ cart.total_price | money }}</span>
            </div>
          </div>
          <div class="cart-custom__info">
            {%- for b in s.blocks -%}
              <div class="cart-custom__info-column">
                <div class="accordion-btn{% if forloop.first %} opened{% endif %}">{{ b.settings.heading }}{%- render 'icon-caret' -%}</div>
                <div class="accordion-text">{{ b.settings.text }}</div>
              </div>
            {%- endfor -%}
          </div>
          <div class="cart-custom__buttons">
            <button type="submit" id="checkout" class="button__red" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
              {{ 'sections.cart.checkout' | t }}
            </button>
            {%- if additional_checkout_buttons -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- else -%}
      <div>
        <h2 class="text-center text-32px c-grey-1">{{ 'sections.cart.empty' | t }}</h2>
        <div class="rte">
          <p class="text-center mt-5"><a class="c-grey-1" href="{{ routes.all_products_collection_url }}">{{ 'general.continue_shopping' | t | upcase }}</a></p>
        </div>
      </div>
    {%- endif -%}

  </div>
</div>

<script>
  const cartInfoCol = document.querySelectorAll('.accordion-btn');
  cartInfoCol && cartInfoCol.forEach(btn => {
    btn.addEventListener('click', () => {
      btn.classList.toggle('opened');
    });
  });

  lineItem = document.querySelectorAll('.quantity-line-item');
  lineItem.forEach(elem => {
    let updateLink = elem.parentElement.nextElementSibling;
    let attrLink = updateLink.getAttribute('href');

    elem.addEventListener('change', ()=> {
      elem.setAttribute('value', elem.value);
      attrLink += elem.value;
      updateLink.setAttribute('href', attrLink);
      updateLink.click();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
        "type": "text",
        "id": "padding_section",
        "label": "Padding section"
    },
    {
        "type": "text",
        "id": "padding_section_sm",
        "label": "Padding section (mobile)"
    }
  ],
  "blocks": [
    {
        "type": "info-column",
        "name": "Info column",
        "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text"
            }
        ]
    }
  ]
}
{% endschema %}
