<section id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding" data-section="{{ section.id }}">
  {{ 'section-main-product-roa.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <div class="product d-flex">
    <div class="product__media d-flex flex-column">
      <div class="product__media-main">
        {% for item in product.media limit: 1 %}
          <img src="{{ item | image_url }}" alt="{{ item.alt }}">
        {% endfor %}
      </div>
      <div class="product__media-list show-more">
        <div class="product__media-list-container">
          {% for item in product.media %}
            <img src="{{ item | image_url }}" class="product__media-img {% if forloop.index == 1 %}active{% endif %}" alt="{{ item.alt }}">
          {% endfor %}
        </div>
        <p class="show-more__btn">+<span class="show-more__count"></span></p>
      </div>
    </div>
    <div class="product-info__wrapper">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
              <p>{{ product.title | escape }}</p>
            </div>
          {%- when 'price' -%}
            <div class="no-js-hidden product-info__price" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>
            <div {{ block.shopify_attributes }}>
              {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
              {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte quick-add-hidden">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
              <details id="Details-{{ block.id }}-{{ section.id }}">
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.640243 5.36033L5.13389 9.85249C5.33107 10.0492 5.65053 10.0492 5.84821 9.85249C6.04539 9.65581 6.04539 9.33635 5.84821 9.13967L1.71099 5.00394L5.84771 0.868216C6.04489 0.671535 6.04489 0.352076 5.84771 0.154897C5.65053 -0.0417833 5.33058 -0.0417833 5.1334 0.154897L0.639745 4.64705C0.445554 4.8417 0.445554 5.16618 0.640243 5.36033Z" fill="black"/></svg>
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.35976 4.63967L0.866105 0.14751C0.668927 -0.0491701 0.349466 -0.0491701 0.15179 0.14751C-0.0453884 0.344191 -0.0453884 0.663651 0.15179 0.860332L4.28901 4.99606L0.152288 9.13178C-0.0448904 9.32846 -0.0448904 9.64792 0.152288 9.8451C0.349466 10.0418 0.669425 10.0418 0.866603 9.8451L5.36025 5.35295C5.55445 5.1583 5.55445 4.83382 5.35976 4.63967Z" fill="black"/></svg>                    
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
            <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
              <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
            </modal-opener>
            <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          {%- when 'variants' -%}
            <div class="d-flex product-info__colors">
              {% for variant in product.variants %}
                <div class="product-info__colors-container d-flex flex-column align-items-center {% if forloop.index == 1 %}active{% endif %}" data-photos='{{ variant.metafields.custom.photos.value | json }}'>
                  {% if product.options contains "Color" %}
                    <div class="product-info__colors-round" style="background: {{ variant.metafields.custom.color | remove: "[" | remove: "]" | remove: '"' }}"></div>
                  {% endif %}
                  <span class="product-info__colors-title">{{ variant.title }}</span>
                </div>
              {% endfor %}
            </div>
          {%- when 'fan_photos' -%}
            <div class="product-info__fan_photos-container">
              <p class="product-info__fan_photos-heading">Fan photos</p>
              <div class="product-info__fan_photos">
                <img src="{{ block.settings.image_1 | img_url }}">
                <img src="{{ block.settings.image_2 | img_url }}">
                <img src="{{ block.settings.image_3 | img_url }}">
                <img src="{{ block.settings.image_4 | img_url }}">
              </div>
            </div>
          {%- when 'free_shipping' -%}
            <div class="product-info__fs">
              <p>Free Shipping Over $50 + <a href="{{ block.settings.link }}">Easy Returns</a></p>
            </div>
          {%- when 'share' -%}
            {%- assign page_url = shop.secure_url | append: product.url -%}

            <div class="product-info__share">
              <span>share</span>
              <div class="product-info__share-links">
                {%- if block.settings.facebook -%}
                  <a target="blank" href="{{ block.settings.facebook_link }}">
                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.663158 10.1046H1.73684C1.83158 10.1046 1.92632 10.1993 1.92632 10.2941V17.052C1.92632 17.3993 2.21053 17.6836 2.55789 17.6836H5.02105C5.36842 17.6836 5.65263 17.3993 5.65263 17.052V10.2941C5.65263 10.1993 5.74737 10.1046 5.84211 10.1046H7.61053C7.92632 10.1046 8.21053 9.88355 8.24211 9.56776L8.65263 7.10461C8.71579 6.72566 8.4 6.34671 8.02105 6.34671H5.93684C5.77895 6.34671 5.65263 6.22039 5.65263 6.0625V4.48355C5.65263 4.07303 5.87368 3.85197 6.28421 3.85197H8.14737C8.49474 3.85197 8.77895 3.56776 8.77895 3.22039V0.694079C8.77895 0.346711 8.49474 0.0625 8.14737 0.0625H5.90526C1.8 0.0625 1.89474 3.37829 1.89474 3.85197V6.15724C1.89474 6.25197 1.8 6.34671 1.70526 6.34671H0.631579C0.284211 6.34671 0 6.63092 0 6.97829V9.44145C0.0315789 9.82039 0.315789 10.1046 0.663158 10.1046Z" fill="#CA3433"/></svg>
                  </a>
                {%- endif -%}
                {%- if block.settings.pinterest -%}
                  <a target="blank" href="{{ block.settings.pinterest_link }}">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.34286 16.0071C4.11429 16.65 5.30357 16.2 5.52857 15.2357V15.2036C5.65714 14.625 6.3 11.925 6.55714 10.8C6.62143 10.5107 6.62143 10.2214 6.525 9.93214C6.49286 9.64286 6.42857 9.25714 6.42857 8.83929C6.42857 7.52143 7.2 6.525 8.16429 6.525C8.96786 6.525 9.38571 7.13571 9.38571 7.875C9.38571 8.71071 8.87143 9.93214 8.58214 11.0571C8.35714 12.0214 9.06429 12.7929 9.99643 12.7929C11.7 12.7929 12.8571 10.6071 12.8571 8.00357C12.8571 6.04286 11.5393 4.56429 9.12857 4.56429C6.39643 4.56429 4.69286 6.58929 4.69286 8.87143C4.69286 9.64286 4.91786 10.2214 5.27143 10.6393C5.43214 10.8321 5.46429 10.9286 5.4 11.1536C5.36786 11.3143 5.27143 11.7321 5.20714 11.8607C5.14286 12.0857 4.95 12.1821 4.75714 12.0857C3.50357 11.5714 2.925 10.1893 2.925 8.64643C2.925 6.075 5.07857 3.02143 9.35357 3.02143C12.7929 3.02143 15.0429 5.49643 15.0429 8.16429C15.0429 11.7 13.0821 14.3357 10.1893 14.3357C9.57857 14.3357 8.96786 14.1107 8.51786 13.8214C8.22857 13.6286 7.84286 13.7893 7.74643 14.1107C7.58571 14.7214 7.39286 15.4929 7.32857 15.6857C7.29643 15.8464 7.23214 15.975 7.2 16.1357C6.87857 17.0036 7.48929 17.9036 8.38929 17.9679C9.06429 18 9.73929 17.9679 10.4143 17.8714C14.4 17.2286 17.5179 13.95 17.9357 9.93214C18.4821 4.53214 14.2714 0 9 0C4.01786 0 0 4.01786 0 9C0 11.8286 1.31786 14.3357 3.34286 16.0071Z" fill="#CA3433"/></svg>
                  </a>
                {%- endif -%}
                {%- if block.settings.rss -%}
                  <a target="blank" href="{{ block.settings.rss_link }}">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.11012 14.9149C4.91726 13.9184 4.11369 13.0827 3.08512 12.8899C1.28512 12.5363 -0.289884 14.1113 0.063687 15.9113C0.256544 16.9077 1.06012 17.7434 2.08869 17.9363C3.88869 18.2899 5.43154 16.747 5.11012 14.9149Z" fill="#CA3433"/><path d="M0 0V3.43929C8.03571 3.43929 14.5607 9.96429 14.5607 18H18C18 8.06786 9.93214 0 0 0Z" fill="#CA3433"/><path d="M8.58125 17.9991H12.0205C12.0205 11.3776 6.65268 6.00977 0.03125 6.00977V9.44905C4.72411 9.41691 8.58125 13.2741 8.58125 17.9991Z" fill="#CA3433"/></svg>
                  </a>
                {%- endif -%}
                {%- if block.settings.tumplr -%}
                  <a target="blank" href="{{ block.settings.tumplr_link }}">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.36965 0H4.88119C4.60427 0 4.36196 0.173077 4.29273 0.45C3.80811 2.49231 2.45811 4.22308 0.623498 5.19231C0.415805 5.29615 0.277344 5.53846 0.277344 5.78077V7.89231C0.277344 8.27308 0.588882 8.55 0.935036 8.55H2.28504C2.56196 8.55 2.76965 8.75769 2.76965 9.03462V14.0538C2.76965 14.9192 3.56581 18 7.65042 18C9.13888 18 10.1081 17.4115 10.5927 16.9615C10.8697 16.7192 10.9735 16.3038 10.8004 15.9577L10.4543 15.1615C10.2466 14.7115 9.76196 14.5038 9.31196 14.6769C9.06965 14.7808 8.79273 14.85 8.41196 14.85C7.3735 14.85 6.88888 14.2269 6.88888 13.2923V9.03462C6.88888 8.75769 7.09657 8.55 7.3735 8.55H9.69273C10.0735 8.55 10.3504 8.23846 10.3504 7.89231V5.98846C10.3504 5.60769 10.0389 5.33077 9.69273 5.33077H7.58119C7.23504 5.33077 6.95811 5.05385 6.95811 4.70769V0.588462C6.95811 0.276923 6.68119 0 6.36965 0Z" fill="#CA3433"/></svg>
                  </a>
                {%- endif -%}
                {%- if block.settings.twitter  -%}
                  <a target="blank" href="{{ block.settings.twitter_link }}">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.02539 6.97461C2.06289 6.97461 2.06289 6.97461 2.02539 6.97461C1.68789 6.97461 1.35039 6.89961 1.05039 6.82461C0.562891 6.67461 0.112891 7.12461 0.262891 7.57461C0.675391 9.18711 1.95039 10.4621 3.56289 10.7996C3.18789 10.9121 2.81289 10.9496 2.43789 10.9496C2.06289 10.9496 1.80039 11.3621 1.98789 11.6996C2.70039 13.0121 4.08789 13.9121 5.62539 13.9496H6.00039C6.41289 13.9496 6.75039 14.2871 6.75039 14.6996C6.75039 15.1121 6.41289 15.4496 6.00039 15.4496C5.51289 15.4496 4.91289 15.4121 4.31289 15.2621C3.93789 15.1871 3.56289 15.1871 3.22539 15.2996C2.58789 15.5246 1.91289 15.7121 1.20039 15.7871C0.937891 15.8246 0.750391 16.0121 0.750391 16.2746C0.750391 16.4621 0.862891 16.6496 1.05039 16.7246C2.51289 17.3621 4.16289 17.7371 5.88789 17.7371C13.8004 17.7371 18.1504 11.0246 18.1504 5.17461C18.1504 4.83711 18.3004 4.49961 18.5629 4.27461C19.0129 3.89961 19.4254 3.48711 19.8004 2.99961C19.9504 2.81211 19.7629 2.54961 19.5379 2.62461C19.0879 2.77461 18.6379 2.88711 18.1504 2.96211C18.0754 2.96211 18.0379 2.88711 18.1129 2.81211C18.6754 2.39961 19.1629 1.83711 19.4629 1.19961C19.5754 0.974609 19.3504 0.749609 19.1254 0.862109C18.7129 1.08711 18.2629 1.23711 17.8129 1.38711C17.3629 1.53711 16.8379 1.42461 16.4629 1.12461C15.7504 0.562109 14.8129 0.224609 13.8379 0.224609C11.8504 0.224609 10.1629 1.61211 9.67539 3.52461C9.60039 3.86211 9.86289 4.16211 10.2004 4.16211C10.8004 4.12461 11.4004 4.04961 11.8504 3.97461C12.2254 3.89961 12.6004 4.08711 12.7504 4.42461C12.9379 4.87461 12.6754 5.32461 12.2629 5.43711C10.5379 5.92461 8.62539 5.58711 8.62539 5.58711C5.70039 5.17461 3.11289 3.74961 1.23789 1.68711C0.975391 1.38711 0.487891 1.49961 0.375391 1.83711C0.225391 2.28711 0.150391 2.77461 0.150391 3.29961C0.150391 4.83711 0.900391 6.18711 2.02539 6.97461Z" fill="#CA3433"/></svg>
                  </a>
                {%- endif -%}
              </div>
            </div>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      {%- if option.name == 'Color' -%}
                        <legend class="form__label">{{ option.name }}</legend>
                        <fieldset class="js product-form__input color d-flex">
                          {%- for value in option.values -%}
                            <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                              <div class="d-flex flex-column align-items-center">
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"></label>
                                <span>{{ value }}</span>
                              </div>
                            {%- endfor -%}
                        </fieldset>
                      {% else %}
                        <fieldset class="js product-form__input">
                          <legend class="form__label">{{ option.name }}</legend>
                          {%- for value in option.values -%}
                            <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                            <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {%- endfor -%}
                        </fieldset>
                      {%- endif -%}
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="{{ product_form_id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>ADD TO BAG</span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>

              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- when 'rating' -%}
              <div class="product-info__rating">
                {{ product.metafields.stamped.badge }}
              </div>
          {%- endcase -%}
        {%- endfor -%}
        {%- comment -%}
        <a href="{{ product.url }}" class="link product__view-details animate-arrow">
          {{ 'products.product.view_full_details' | t }}
          {% render 'icon-arrow' %}
        </a>
        {%- endcomment -%}
        <div class="quick-add-modal__more-info medium-hide large-up-hide">
          <a href="{{ product.url }}">More information about item</a>
        </div>
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content gradient" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}

  <script src="{{ 'main-product-roa.js' | asset_url }}"></script>

  {%- if product.media.size > 0 -%}
    <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>

{% schema %}
{
  "name": "Product information ROA",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "free_shipping",
      "name": "Free shipping",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Policy page link"
        }
      ]
    },
    {
      "type": "variants",
      "name": "Variants"
    },
    {
      "type": "fan_photos",
      "name": "Fan photos",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "facebook",
          "label": "Share facebook",
          "default": true
        },
        {
          "type": "url",
          "id": "facebook_link",
          "label": "Facebook link"
        },
        {
          "type": "checkbox",
          "id": "pinterest",
          "label": "Share pinterest",
          "default": true
        },
        {
          "type": "url",
          "id": "pinterest_link",
          "label": "Pinterest link"
        },
        {
          "type": "checkbox",
          "id": "rss",
          "label": "Share rss",
          "default": true
        },
        {
          "type": "url",
          "id": "rss_link",
          "label": "Rss link"
        },
        {
          "type": "checkbox",
          "id": "twitter",
          "label": "Share twitter",
          "default": true
        },
        {
          "type": "url",
          "id": "twitter_link",
          "label": "Twitter link"
        },
        {
          "type": "checkbox",
          "id": "tumplr",
          "label": "Share tumplr",
          "default": true
        },
        {
          "type": "url",
          "id": "tumplr_link",
          "label": "Tumplr link"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Stamped rating",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
