{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
.positioning--{{ s.id }} {
    padding: {{ ss.padding_section_sm }};
}
@media (min-width: 768px) {
    .positioning--{{ s.id }} {
        padding: {{ ss.padding_section }};
    }
}
{%- endstyle -%}

<section class="products-slider positioning--{{ s.id }}">
    <div class="page-width">   
        {%- if ss.heading != blank -%}
            <h3 class="text-center text-32px c-grey-1">{{ ss.heading | upcase }}</h3>
        {%- endif -%}
        <div class="products-slider__list">
            <div class="swiper-wrapper">
                {%- for product in ss.product_list -%}
                    <div class="swiper-slide products-slider__item">
                        <a href="{{ product.url }}"></a>
                        <div class="img-wrapper">
                            <img
                            srcset="{%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if product.featured_image.width >= 533 -%}{{ product.featured_image | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if product.featured_image.width >= 720 -%}{{ product.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                            {{ product.featured_image | image_url }} {{ product.featured_image.width }}w"
                            src="{{ product.featured_image | image_url: width: 1000 }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            class="featured-img">
                            {%- if product.media[1] != nil -%}
                                <img
                                srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                                {{ product.media[1] | image_url }} {{ product.media[1].width }}w"
                                src="{{ product.media[1] | image_url: width: 1000 }}"
                                class="hover-img">  
                            {%- endif -%}
                        </div>
                        <span class="item-type">{{ product.type | upcase }}</span>
                        <span class="item-title">{{ product.title | upcase }}</span>
                        {%- render 'price', product: product -%}
                    </div>
                {%- endfor -%}
            </div>
            <div class="button-prev">{%- render 'icon-arr' -%}</div>
            <div class="button-next">{%- render 'icon-arr' -%}</div>
        </div>
    </div>
</section>

{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'products-slider.js' | asset_url | script_tag }}

{% schema %}
{
    "name": "Products slider",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Most Popular Products"
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products"
        },                          
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "padding_section",
            "label": "Padding section"
        },
        {
            "type": "text",
            "id": "padding_section_sm",
            "label": "Padding section (mobile)"
        }
    ],
    "presets": [
        {
            "name": "Products slider",
            "category": "product"
        }
    ]
}
{% endschema %}