{%- assign s = section -%}
{%- assign ss = s.settings -%}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<section class="page-width product-tabs" id="product-tabs-desctop">
    <div class="product-tabs__buttons d-flex">
        <div class="product-tabs__button active" data-id="product-details">PRODUCT DETAILS</div>
        <div class="product-tabs__button" data-id="product-reviews">REVIEWS <span>({{ product.metafields.stamped.reviews_count }} REVIEWS)</span></div>
        <div class="product-tabs__button" data-id="size-guide">SIZE GUIDE</div>
    </div>
    <div class="product-tabs__container">
        <div class="product-tabs__tab active product-details">
            <p class="product-details__text">{{ product.metafields.custom.product_details_text }}</p>
            <ul class="product-details__list">
                {%- for detail in product.metafields.custom.product_details.value -%}
                    <li class="product-details__list-item">{{ detail }}</li>
                {%- endfor -%}
            </ul>
            <div class="product-details__disclamer d-flex">
                <span class="product-details__disclamer-heading">DISCLAIMER</span>
                <p>{{ product.metafields.custom.disclamer }}</p>
            </div>
        </div>
        <div class="product-tabs__tab product-reviews">
            {{ product.metafields.stamped.reviews }}
        </div>
        <div class="product-tabs__tab size-guide">
            <div id="KiwiSizingChart"
                data-display-mode="0">
            </div>
        </div>
    </div>
</section>
<section class="page-width product-tabs mobile" id="product-tabs-mobile">
    <div class="product-tabs__buttons d-flex">
        <div class="product-tabs__button" data-id="product-details">PRODUCT DETAILS</div>
        <div class="product-tabs__tab product-details">
            <p class="product-details__text">{{ product.metafields.custom.product_details_text }}</p>
            <ul class="product-details__list">
                {%- for detail in product.metafields.custom.product_details.value -%}
                    <li class="product-details__list-item">{{ detail }}</li>
                {%- endfor -%}
            </ul>
            <div class="product-details__disclamer d-flex">
                <span class="product-details__disclamer-heading">DISCLAIMER</span>
                <p>{{ product.metafields.custom.disclamer }}</p>
            </div>
        </div>
        <div class="product-tabs__button" data-id="product-reviews">REVIEWS <span>({{ product.metafields.stamped.reviews_count }} REVIEWS)</span></div>
        <div class="product-tabs__tab product-reviews">
            {{ product.metafields.stamped.reviews }}
        </div>
        <div class="product-tabs__button" data-id="size-guide">SIZE GUIDE</div>
        <div class="product-tabs__tab size-guide">
            <div id="KiwiSizingChart"
                data-display-mode="0">
            </div>
        </div>
    </div>
</section>
{% javascript %}
    (() => {
        document.querySelector('#stamped-sort-select').style.setProperty('padding-left', '2.4rem', 'important');
        document.querySelector('#stamped-sort-select').style.setProperty('padding-right', '2.4rem', 'important');
    })();
{% endjavascript %}

<script src="{{ 'product-tabs.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
    "name": "Product tabs",
    "class": "product-tabs__main",
    "presets": [
        {
            "name": "Product tabs"
        }
    ]
}
{% endschema %}