{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
.positioning--{{ s.id }} {
    padding: {{ ss.padding_section_sm }};
}
@media (min-width: 768px) {
    .positioning--{{ s.id }} {
        padding: {{ ss.padding_section }};
    }
}
{%- endstyle -%}

<section class="profile positioning--{{ s.id }}">
    <div class="page-width">
        <div class="profile__top">
            <div class="profile__top-box">
                <h1 class="text-center text-32px">{{ 'My profile' | upcase }}</h1>
                <a href="{{ routes.account_logout_url }}" class="btn-logout btn-red-2"> {{ 'customer.log_out' | t }}</a>
            </div>
        </div>
        <div class="profile__double-column column-first">
                <div class="profile__column">
                    <h3 class="text-24px-all">{{ 'customer.reset_password.title' | t | upcase }}</h3>
                    <div class="profile__reset-password profile__block-style">
                        <div class="customer reset-password">
                            <svg style="display: none">
                              <symbol id="icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                              </symbol>
                            </svg>
                            {%- form 'reset_customer_password', class: 'mt-0' -%}
                              {%- if form.errors -%}
                                <h2 class="form__message" tabindex="-1" autofocus>
                                  <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                                  <svg aria-hidden="true" focusable="false" role="presentation">
                                    <use href="#icon-error" />
                                  </svg>
                                  {{ 'templates.contact.form.error_heading' | t }}
                                </h2>
                                <ul>
                                  {%- for field in form.errors -%}
                                    <li>
                                      {%- if field == 'form' -%}
                                        {{ form.errors.messages[field] }}
                                      {%- else -%}
                                        <a href="#{{ field }}">
                                          {{ form.errors.translated_fields[field] | capitalize }}
                                          {{ form.errors.messages[field] }}
                                        </a>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                          
                              <h4 class="field__title">{{ 'customer.login_page.password' | t | prepend: 'New ' | upcase }}</h4>
                              <div class="field">      
                                <input
                                  class="field__input check-visited-input"
                                  type="password"
                                  name="customer[password]"
                                  id="password"
                                  autocomplete="new-password"
                                  {% if form.errors contains 'password' %}
                                    aria-invalid="true"
                                    aria-describedby="password-error"
                                  {% endif %}
                                  placeholder="{{ 'customer.reset_password.password' | t }}"
                                >
                                <label for="password">
                                  {{ 'customer.reset_password.password' | t }}
                                </label>
                                {%- if form.errors contains 'password' -%}
                                  <small id="password-error" class="form__message">
                                    <svg aria-hidden="true" focusable="false" role="presentation">
                                      <use href="#icon-error" />
                                    </svg>
                                    {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
                                  </small>
                                {%- endif -%}
                              </div>
                          
                              <h4 class="field__title">{{ 'customer.reset_password.password_confirm' | t | upcase }}</h4>
                              <div class="field">      
                                <input
                                  class="field__input check-visited-input"
                                  type="password"
                                  name="customer[password_confirmation]"
                                  id="password_confirmation"
                                  autocomplete="new-password"
                                  {% if form.errors contains 'password_confirmation' %}
                                    aria-invalid="true"
                                    aria-describedby="password_confirmation-error"
                                  {% endif %}
                                  placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                                >
                                <label for="password_confirmation">
                                  {{ 'customer.reset_password.password_confirm' | t }}
                                </label>
                                {%- if form.errors contains 'password_confirmation' -%}
                                  <small id="password_confirmation-error" class="form__message">
                                    <svg aria-hidden="true" focusable="false" role="presentation">
                                      <use href="#icon-error" />
                                    </svg>
                                    {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
                                  </small>
                                {%- endif -%}
                              </div>
                          
                              <button class="button__red">{{ 'customer.reset_password.submit' | t }}</button>
                            {%- endform -%}
                        </div>
                    </div>
                </div>
                <div class="profile__column">
                    <h3 class="text-24px-all">{{ 'My Orders' | upcase }}</h3>
                    <div class="profile__order-list">
                        {%- for order in customer.orders -%}
                            <div class="profile__order profile__block-style">
                                <div class="profile__order-head">
                                    <div class="head-column">
                                        <span class="order-number">ORDER #{{ order.order_number }}</span>
                                        <span class="order-status"><span class="c-grey-3">STATUS: </span>{{ order.fulfillment_status | upcase }}</span>
                                    </div>
                                    <div class="head-column">
                                        <span class="order-quantity">QUANTITY: {{ order.item_count }} {{ order.item_count | pluralize: 'item', 'items' | upcase }}</span>
                                        <span class="order-price"><span class="c-grey-3">PRICE: </span>{{ order.total_price | money }}</span>
                                    </div>
                                </div>

                                <div>
                                    <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
                                    {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
                                    <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
                                    {%- if order.cancelled -%}
                                      {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                                      <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                                      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                                    {%- endif -%}
                              
                                    <table role="table" class="order-details">
                                      <caption class="visually-hidden">{{ 'customer.order.title' | t: name: order.name }}</caption>
                                      <thead role="rowgroup">
                                        <tr role="row">
                                          <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
                                          <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
                                          <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
                                          <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
                                          <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
                                        </tr>
                                      </thead>
                                      <tbody role="rowgroup">
                                        {%- for line_item in order.line_items -%}
                                        <img src="{{ line_item.image | img_url: 'compact' }}" alt="{{ line_item.image.alt }}">
                                          <tr role="row">
                                            <td
                                              id="Row{{ line_item.key }}"
                                              headers="ColumnProduct"
                                              role="rowheader"
                                              scope="row"
                                              data-label="{{ 'customer.order.product' | t }}"
                                            >
                                              <div>
                                                {%- if line_item.url != blank -%}
                                                  <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                                                {%- else -%}
                                                  <p>{{ line_item.title }}</p>
                                                {%- endif -%}
                                                {%- assign property_size = line_item.properties | size -%}
                                                {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
                                                  <div class="properties">
                                                    {%- unless line_item.product.has_only_default_variant -%}
                                                      <span>
                                                        {{ line_item.variant.title }}
                                                      </span>
                                                    {%- endunless -%}
                                                    {%- unless line_item.selling_plan_allocation == nil -%}
                                                      <span>
                                                        {{ line_item.selling_plan_allocation.selling_plan.name }}
                                                      </span>
                                                    {%- endunless -%}
                                                    {%- if property_size != 0 -%}
                                                      {%- for property in line_item.properties -%}
                                                        {% assign property_first_char = property.first | slice: 0 %}
                                                        {%- if property.last != blank and property_first_char != '_' -%}
                                                          <span>
                                                            {{ property.first }}:&nbsp;
                                                            {%- if property.last contains '/uploads/' -%}
                                                              <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                                            {%- else -%}
                                                              {{ property.last }}
                                                            {%- endif -%}
                                                          </span>
                                                        {%- endif -%}
                                                      {%- endfor -%}
                                                    {%- endif -%}
                                                  </div>
                                                {%- endunless -%}
                              
                                                {%- if line_item.line_level_discount_allocations != blank -%}
                                                  <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                                      <li>
                                                        <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                                          <use href="#icon-discount" />
                                                        </svg>
                                                        {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                                                      </li>
                                                    {%- endfor -%}
                                                  </ul>
                                                {%- endif -%}
                              
                                                {%- if line_item.fulfillment -%}
                                                  <div class="fulfillment">
                                                    {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                                                    <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>
                              
                                                      {%- if line_item.fulfillment.tracking_url -%}
                                                        <a href="{{ line_item.fulfillment.tracking_url }}">
                                                          {{ 'customer.order.track_shipment' | t }}
                                                        </a>
                                                      {%- endif -%}
                                                      <span>
                                                        {{ line_item.fulfillment.tracking_company }}
                                                        {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                                                      </span>
                                                  </div>
                                                {%- endif -%}
                                              </div>
                                            </td>
                                            <td
                                              headers="Row{{ line_item.key }} ColumnSku"
                                              role="cell"
                                              data-label="{{ 'customer.order.sku' | t }}"
                                            >
                                              {{ line_item.sku }}
                                            </td>
                                            <td
                                              headers="Row{{ line_item.key }} ColumnPrice"
                                              role="cell"
                                              data-label="{{ 'customer.order.price' | t }}"
                                            >
                                              {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                                                <dl>
                                                  {%- if line_item.original_price != line_item.final_price -%}
                                                    <dt>
                                                      <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                                    </dt>
                                                    <dd class="regular-price">
                                                      <s>{{ line_item.original_price | money }}</s>
                                                    </dd>
                                                    <dt>
                                                      <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                                    </dt>
                                                    <dd>
                                                      <span>{{ line_item.final_price | money }}</span>
                                                    </dd>
                                                  {%- else -%}
                                                    <dt>
                                                      <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                                    </dt>
                                                    <dd>
                                                      {{ line_item.original_price | money }}
                                                    </dd>
                                                  {%- endif -%}
                                                  {%- if line_item.unit_price_measurement -%}
                                                    <dt>
                                                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                                    </dt>
                                                    <dd class="unit-price">
                                                      <span>
                                                        {%- capture unit_price_separator -%}
                                                          <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                                        {%- endcapture -%}
                                                        {%- capture unit_price_base_unit -%}
                                                          {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                                            {{- line_item.unit_price_measurement.reference_value -}}
                                                          {%- endif -%}
                                                          {{ line_item.unit_price_measurement.reference_unit }}
                                                        {%- endcapture -%}
                                                        <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                                                      </span>
                                                    </dd>
                                                  {%- endif -%}
                                                </dl>
                                              {%- else -%}
                                                <span>{{ line_item.final_price | money }}</span>
                                              {%- endif -%}
                                            </td>
                                            <td
                                              headers="Row{{ line_item.key }} ColumnQuantity"
                                              role="cell"
                                              data-label="{{ 'customer.order.quantity' | t }}"
                                            >
                                              {{ line_item.quantity }}
                                            </td>
                                            <td
                                              headers="Row{{ line_item.key }} ColumnTotal"
                                              role="cell"
                                              data-label="{{ 'customer.order.total' | t }}"
                                            >
                                              {%- if line_item.original_line_price != line_item.final_line_price -%}
                                                <dl>
                                                  <dt>
                                                    <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                                  </dt>
                                                  <dd class="regular-price">
                                                    <s>{{ line_item.original_line_price | money }}</s>
                                                  </dd>
                                                  <dt>
                                                    <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                                  </dt>
                                                  <dd>
                                                    <span>{{ line_item.final_line_price | money }}</span>
                                                  </dd>
                                                </dl>
                                              {%- else -%}
                                                {{ line_item.original_line_price | money }}
                                              {%- endif -%}
                                            </td>
                                          </tr>
                                        {%- endfor -%}
                                      </tbody>
                                      <tfoot role="rowgroup">
                                        <tr role="row">
                                          <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                                            {{ 'customer.order.subtotal' | t }}
                                          </td>
                                          <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
                                        </tr>
                                        {%- if order.cart_level_discount_applications != blank -%}
                                          <tr role="row">
                                            {%- for discount_application in order.cart_level_discount_applications -%}
                                              <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                                                {{ 'customer.order.discount' | t }}
                                                <span class="cart-discount">
                                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                                    <use href="#icon-discount" />
                                                  </svg>
                                                  {{- discount_application.title -}}
                                                </span>
                                              </td>
                                              <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                                                <div>
                                                  <span>-{{ discount_application.total_allocated_amount | money }}</span>
                                                  <span class="cart-discount">
                                                    <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                                      <use href="#icon-discount" />
                                                    </svg>
                                                    {{- discount_application.title -}}
                                                  </span>
                                                </div>
                                              </td>
                                            {%- endfor -%}
                                          </tr>
                                        {%- endif -%}
                                        {%- for shipping_method in order.shipping_methods -%}
                                          <tr role="row">
                                            <td id="RowShipping" role="rowheader" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                                            <td headers="RowShipping" role="cell" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                                          </tr>
                                        {%- endfor -%}
                                        {%- for tax_line in order.tax_lines -%}
                                          <tr role="row">
                                            <td id="RowTax" role="rowheader" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                                            <td headers="RowTax" role="cell" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                                          </tr>
                                        {%- endfor -%}
                                        {%- if order.total_duties -%}
                                          <tr role="row">
                                            <td id="RowDuties" role="rowheader" scope="row" colspan="4">{{ 'customer.order.total_duties' | t }}</td>
                                            <td headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">{{ order.total_duties | money }}</td>
                                          </tr>
                                        {%- endif -%}
                                        <tr role="row">
                                          <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
                                          <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
                                        </tr>
                                      </tfoot>
                                    </table>
                                  </div>
                            </div>
                        {%- endfor -%}
                    </div>

                    <div class="customer order d-none">
                        <svg style="display:none">
                          <symbol id="icon-discount" viewBox="0 0 12 12">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
                          </symbol>
                        </svg>
                      
                        <div>
                          <div>
                            <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
                            {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
                            <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
                            {%- if order.cancelled -%}
                              {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                              <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                              <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                            {%- endif -%}
                      
                            <table role="table" class="order-details">
                              <caption class="visually-hidden">{{ 'customer.order.title' | t: name: order.name }}</caption>
                              <thead role="rowgroup">
                                <tr role="row">
                                  <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
                                  <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
                                  <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
                                  <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
                                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
                                </tr>
                              </thead>
                              <tbody role="rowgroup">
                                {%- for line_item in order.line_items -%}
                                  <tr role="row">
                                    <td
                                      id="Row{{ line_item.key }}"
                                      headers="ColumnProduct"
                                      role="rowheader"
                                      scope="row"
                                      data-label="{{ 'customer.order.product' | t }}"
                                    >
                                      <div>
                                        {%- if line_item.url != blank -%}
                                          <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                                        {%- else -%}
                                          <p>{{ line_item.title }}</p>
                                        {%- endif -%}
                                        {%- assign property_size = line_item.properties | size -%}
                                        {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
                                          <div class="properties">
                                            {%- unless line_item.product.has_only_default_variant -%}
                                              <span>
                                                {{ line_item.variant.title }}
                                              </span>
                                            {%- endunless -%}
                                            {%- unless line_item.selling_plan_allocation == nil -%}
                                              <span>
                                                {{ line_item.selling_plan_allocation.selling_plan.name }}
                                              </span>
                                            {%- endunless -%}
                                            {%- if property_size != 0 -%}
                                              {%- for property in line_item.properties -%}
                                                {% assign property_first_char = property.first | slice: 0 %}
                                                {%- if property.last != blank and property_first_char != '_' -%}
                                                  <span>
                                                    {{ property.first }}:&nbsp;
                                                    {%- if property.last contains '/uploads/' -%}
                                                      <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                                    {%- else -%}
                                                      {{ property.last }}
                                                    {%- endif -%}
                                                  </span>
                                                {%- endif -%}
                                              {%- endfor -%}
                                            {%- endif -%}
                                          </div>
                                        {%- endunless -%}
                      
                                        {%- if line_item.line_level_discount_allocations != blank -%}
                                          <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                            {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                              <li>
                                                <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                                  <use href="#icon-discount" />
                                                </svg>
                                                {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        {%- endif -%}
                      
                                        {%- if line_item.fulfillment -%}
                                          <div class="fulfillment">
                                            {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                                            <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>
                      
                                              {%- if line_item.fulfillment.tracking_url -%}
                                                <a href="{{ line_item.fulfillment.tracking_url }}">
                                                  {{ 'customer.order.track_shipment' | t }}
                                                </a>
                                              {%- endif -%}
                                              <span>
                                                {{ line_item.fulfillment.tracking_company }}
                                                {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                                              </span>
                                          </div>
                                        {%- endif -%}
                                      </div>
                                    </td>
                                    <td
                                      headers="Row{{ line_item.key }} ColumnSku"
                                      role="cell"
                                      data-label="{{ 'customer.order.sku' | t }}"
                                    >
                                      {{ line_item.sku }}
                                    </td>
                                    <td
                                      headers="Row{{ line_item.key }} ColumnPrice"
                                      role="cell"
                                      data-label="{{ 'customer.order.price' | t }}"
                                    >
                                      {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                                        <dl>
                                          {%- if line_item.original_price != line_item.final_price -%}
                                            <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                            </dt>
                                            <dd class="regular-price">
                                              <s>{{ line_item.original_price | money }}</s>
                                            </dd>
                                            <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                            </dt>
                                            <dd>
                                              <span>{{ line_item.final_price | money }}</span>
                                            </dd>
                                          {%- else -%}
                                            <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                            </dt>
                                            <dd>
                                              {{ line_item.original_price | money }}
                                            </dd>
                                          {%- endif -%}
                                          {%- if line_item.unit_price_measurement -%}
                                            <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                            </dt>
                                            <dd class="unit-price">
                                              <span>
                                                {%- capture unit_price_separator -%}
                                                  <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                                {%- endcapture -%}
                                                {%- capture unit_price_base_unit -%}
                                                  {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                                    {{- line_item.unit_price_measurement.reference_value -}}
                                                  {%- endif -%}
                                                  {{ line_item.unit_price_measurement.reference_unit }}
                                                {%- endcapture -%}
                                                <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                                              </span>
                                            </dd>
                                          {%- endif -%}
                                        </dl>
                                      {%- else -%}
                                        <span>{{ line_item.final_price | money }}</span>
                                      {%- endif -%}
                                    </td>
                                    <td
                                      headers="Row{{ line_item.key }} ColumnQuantity"
                                      role="cell"
                                      data-label="{{ 'customer.order.quantity' | t }}"
                                    >
                                      {{ line_item.quantity }}
                                    </td>
                                    <td
                                      headers="Row{{ line_item.key }} ColumnTotal"
                                      role="cell"
                                      data-label="{{ 'customer.order.total' | t }}"
                                    >
                                      {%- if line_item.original_line_price != line_item.final_line_price -%}
                                        <dl>
                                          <dt>
                                            <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                          </dt>
                                          <dd class="regular-price">
                                            <s>{{ line_item.original_line_price | money }}</s>
                                          </dd>
                                          <dt>
                                            <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                          </dt>
                                          <dd>
                                            <span>{{ line_item.final_line_price | money }}</span>
                                          </dd>
                                        </dl>
                                      {%- else -%}
                                        {{ line_item.original_line_price | money }}
                                      {%- endif -%}
                                    </td>
                                  </tr>
                                {%- endfor -%}
                              </tbody>
                              <tfoot role="rowgroup">
                                <tr role="row">
                                  <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                                    {{ 'customer.order.subtotal' | t }}
                                  </td>
                                  <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
                                </tr>
                                {%- if order.cart_level_discount_applications != blank -%}
                                  <tr role="row">
                                    {%- for discount_application in order.cart_level_discount_applications -%}
                                      <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                                        {{ 'customer.order.discount' | t }}
                                        <span class="cart-discount">
                                          <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                            <use href="#icon-discount" />
                                          </svg>
                                          {{- discount_application.title -}}
                                        </span>
                                      </td>
                                      <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                                        <div>
                                          <span>-{{ discount_application.total_allocated_amount | money }}</span>
                                          <span class="cart-discount">
                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                              <use href="#icon-discount" />
                                            </svg>
                                            {{- discount_application.title -}}
                                          </span>
                                        </div>
                                      </td>
                                    {%- endfor -%}
                                  </tr>
                                {%- endif -%}
                                {%- for shipping_method in order.shipping_methods -%}
                                  <tr role="row">
                                    <td id="RowShipping" role="rowheader" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                                    <td headers="RowShipping" role="cell" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                                  </tr>
                                {%- endfor -%}
                                {%- for tax_line in order.tax_lines -%}
                                  <tr role="row">
                                    <td id="RowTax" role="rowheader" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                                    <td headers="RowTax" role="cell" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                                  </tr>
                                {%- endfor -%}
                                {%- if order.total_duties -%}
                                  <tr role="row">
                                    <td id="RowDuties" role="rowheader" scope="row" colspan="4">{{ 'customer.order.total_duties' | t }}</td>
                                    <td headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">{{ order.total_duties | money }}</td>
                                  </tr>
                                {%- endif -%}
                                <tr role="row">
                                  <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
                                  <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                          <div>
                            <div>
                              <h2>{{ 'customer.order.billing_address' | t }}</h2>
                              <p>
                                <strong>{{ 'customer.order.payment_status' | t }}:</strong>
                                {{ order.financial_status_label }}
                              </p>
                              {{ order.billing_address | format_address }}
                            </div>
                            <div>
                              <h2>{{ 'customer.order.shipping_address' | t }}</h2>
                              <p>
                                <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
                                {{ order.fulfillment_status_label }}
                              </p>
                              {{ order.shipping_address | format_address }}
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
        </div>
        <div class="profile__double-column column-second">
                <div class="profile__column">
                    <h3 class="text-24px-all">{{ 'Account Address' | upcase }}</h3>
                    <div class="profile__addresses profile__block-style">
                        <div class="customer addresses" data-customer-addresses>
                            <svg style="display: none">
                            <symbol id="icon-caret" viewBox="0 0 10 6">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </symbol>
                            </svg>

                            <ul role="list">
                                {%- for address in customer.addresses -%}
                                    <li data-address>
                                    {%- if address == customer.default_address -%}
                                        <h4>{{ 'customer.addresses.default' | t }}</h4>
                                    {%- endif -%}
                                    {{ address | format_address }}
                                    <button
                                            class="button__red"
                                            type="button"
                                            id="EditFormButton_{{ address.id }}"
                                            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                                            aria-controls="EditAddress_{{ address.id }}"
                                            aria-expanded="false"
                                            data-address-id="{{ address.id }}"
                                        >
                                            {{ 'customer.addresses.edit' | t }}
                                        </button>
                                        <button
                                            class="button__cancel"
                                            type="button"
                                            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                                            data-target="{{ address.url }}"
                                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                                        >
                                            {{ 'customer.addresses.delete' | t }}
                                        </button>
                                    <div id="EditAddress_{{ address.id }}">
                                        <h4 class="text-center">{{ 'customer.addresses.edit_address' | t }}</h4>
                                        {%- form 'customer_address', address, class: 'mt-5' -%}
                                        <div class="input-group">
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.first_name' | t }}</h4>
                                                <div class="field">
                                                    <input class="field__input check-visited-input" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                                    <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                </div>
                                            </div>
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.last_name' | t }}</h4>
                                                <div class="field">
                                                    <input class="field__input check-visited-input" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                    <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.company' | t }}</h4>
                                                <div class="field">
                                                    <input class="field__input check-visited-input" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                                    <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                                </div>
                                            </div>
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.phone' | t }}</h4>
                                                <div class="field">
                                                    <input class="field__input check-visited-input" type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                    <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="field__title">{{ 'customer.addresses.address1' | t }}</h4>
                                        <div class="field">
                                            <input class="field__input check-visited-input" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                        </div>
                                        <h4 class="field__title">{{ 'customer.addresses.address2' | t }}</h4>
                                        <div class="field">
                                            <input class="field__input check-visited-input" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                        </div>
                                        <div class="input-group">
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.city' | t }}</h4>
                                                <div class="field">
                                                    <input class="field__input check-visited-input" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                                    <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                                </div>
                                            </div>
                                            <div>
                                                <h4 class="field__title">{{ 'customer.addresses.country' | t | replace: '/', ' or ' }}</h4>
                                                <div class="field">
                                                    <label for="AddressCountry_{{ form.id }}">
                                                    {{ 'customer.addresses.country' | t | replace: '/', ' or ' }}
                                                    </label>
                                                    <div class="select">
                                                    <select
                                                        id="AddressCountry_{{ form.id }}"
                                                        name="address[country]"
                                                        data-address-country-select
                                                        data-default="{{ form.country }}"
                                                        data-form-id="{{ form.id }}"
                                                        autocomplete="country"
                                                    >
                                                        {{ all_country_option_tags }}
                                                    </select>
                                                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                        <use href="#icon-caret" />
                                                    </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="field__title">{{ 'customer.addresses.province' | t }}</h4>
                                        <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                                            <label for="AddressProvince_{{ form.id }}">
                                            {{ 'customer.addresses.province' | t }}
                                            </label>
                                            <div class="select">
                                            <select
                                                id="AddressProvince_{{ form.id }}"
                                                name="address[province]"
                                                data-default="{{ form.province }}"
                                                autocomplete="address-level1"
                                            >
                                            </select>
                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                <use href="#icon-caret" />
                                            </svg>
                                            </div>
                                        </div>
                                        <h4 class="field__title">{{ 'customer.addresses.zip' | t | replace: '/', ' or ' }}</h4>
                                        <div class="field">
                                            <input class="field__input check-visited-input" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                        </div>
                                        <div>
                                            {{ form.set_as_default_checkbox }}
                                            <label for="address_default_address_{{ form.id }}">
                                            {{ 'customer.addresses.set_default' | t }}
                                            </label>
                                        </div>
                                        <div>
                                            <button class="button__red">{{ 'customer.addresses.update' | t }}</button>
                                            <button class="button__cancel" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                                        </div>
                                        {%- endform -%}
                                    </div>
                                    </li>
                                {%- endfor -%}
                            </ul>
                            <div data-address>
                                <button class="button__red mt-0" type="button" aria-expanded="false" aria-controls="AddAddress">{{ 'customer.addresses.add_new' | t }}</button>
                                <div id="AddAddress">
                                    <h4 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h4>
                                    {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading', class: 'mt-5' -%}
                                    <div class="input-group">
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.first_name' | t }}</h4>
                                            <div class="field">
                                                <input class="field__input check-visited-input" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.last_name' | t }}</h4>
                                            <div class="field">
                                                <input class="field__input check-visited-input" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.company' | t }}</h4>
                                            <div class="field">
                                                <input class="field__input check-visited-input" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.phone' | t }}</h4>
                                            <div class="field">
                                                <input class="field__input check-visited-input" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="field__title">{{ 'customer.addresses.address1' | t }}</h4>
                                    <div class="field">
                                        <input class="field__input check-visited-input" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                        <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                    </div>
                                    <h4 class="field__title">{{ 'customer.addresses.address2' | t }}</h4>
                                    <div class="field">
                                        <input class="field__input check-visited-input" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                                        <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                    </div>
                                    <div class="input-group">
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.city' | t }}</h4>
                                            <div class="field">
                                                <input class="field__input check-visited-input" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="field__title">{{ 'customer.addresses.country' | t | replace: '/', ' or ' }}</h4>
                                            <div class="field">
                                                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                                <div class="select">
                                                <select
                                                    id="AddressCountryNew"
                                                    name="address[country]"
                                                    data-default="{{ form.country }}"
                                                    autocomplete="country"
                                                >
                                                    {{ all_country_option_tags }}
                                                </select>
                                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                    <use href="#icon-caret" />
                                                </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="field__title">{{ 'customer.addresses.province' | t }}</h4>
                                    <div class="field" id="AddressProvinceContainerNew" style="display: none">
                                        <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                        <div class="select">
                                        <select
                                            id="AddressProvinceNew"
                                            name="address[province]"
                                            data-default="{{ form.province }}"
                                            autocomplete="address-level1"
                                        >
                                        </select>
                                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                            <use href="#icon-caret" />
                                        </svg>
                                        </div>
                                    </div>
                                    <h4 class="field__title">{{ 'customer.addresses.zip' | t | replace: '/', ' or ' }}</h4>
                                    <div class="field">
                                        <input class="field__input check-visited-input" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                        <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                                    </div>
                                    <div>
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                                    </div>
                                    <div>
                                        <button class="button__red">{{ 'customer.addresses.add' | t }}</button>
                                        <button class="button__cancel" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                                    </div>
                                    {%- endform -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__column">
                    <h3 class="text-24px-all">{{ 'Wishlist' | upcase }}</h3>
                    <div class="profile__wishlist profile__block-style">
                        <div id="wishlist-items-container"></div>
                    </div>
                </div>
        </div>
    </div>
</section>

<script>
    window.onload = () => {
      typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>

<script src="{{ 'swym-wishlist.js' | asset_url }}" async="async"></script>

{% schema %}
{
    "name": "Profile",
    "settings": [          
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "padding_section",
            "label": "Padding section"
        },
        {
            "type": "text",
            "id": "padding_section_sm",
            "label": "Padding section (mobile)"
        }
    ],
    "presets": [
        {
            "name": "Profile",
            "category": "new"
        }
    ]
}
{% endschema %}