{%- assign s = section -%}
{%- assign ss = s.settings -%}

<div class="steps c-grey-10-bg">
  <div class="steps__item">
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M84.3192 26.291H22.4331V85.2301H84.3192V26.291ZM48.9557 32.1849H57.7966V43.9727H48.9557V32.1849ZM28.327 79.3362H78.4252V32.1849H63.6905V49.8667H43.0618V32.1849H28.327V79.3362Z" fill="#CF322D"/><path d="M34.2212 55.7607H51.9029V61.6547H34.2212V55.7607Z" fill="#CF322D"/><path d="M34.2212 67.5488H43.9589V73.4427H34.2212V67.5488Z" fill="#CF322D"/><path d="M83.435 12.5389H9.55624L16.1541 3.4668L11.3877 0L0.125 15.4859L11.3875 30.9717L16.1541 27.5049L9.55624 18.4328H83.435C88.7973 18.4328 93.16 22.7955 93.16 28.1578V84.3464C93.16 89.7086 88.7973 94.0713 83.435 94.0713H23.3171C17.9549 94.0713 13.5922 89.7086 13.5922 84.3464V58.7079H7.69828V84.3464C7.69828 92.9585 14.705 99.9652 23.3171 99.9652H83.435C92.0472 99.9652 99.0539 92.9585 99.0539 84.3464V28.1578C99.0539 19.5454 92.0472 12.5389 83.435 12.5389Z" fill="#CF322D"/></svg>
    <span>{{ ss.a_anchor_heading }}</span>
    <div class="steps__info">{{ ss.a_anchor_info }}</div>
  </div>
  <div class="steps__item">
    <svg width="96" height="100" viewBox="0 0 96 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.1705 40.9289H21.5629C19.4885 40.9289 17.8008 39.2432 17.8008 37.1713V29.5818C17.8008 27.51 19.4885 25.8242 21.5629 25.8242H29.1705C31.248 25.8242 32.9383 27.51 32.9383 29.5818V37.1713C32.9383 39.2432 31.248 40.9289 29.1705 40.9289ZM29.0318 29.7301H21.707V37.023H29.0318V29.7301Z" fill="#CF322D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M89.3963 54.585C88.4609 54.585 87.5221 54.7852 86.6654 55.1803C86.0068 53.0926 84.4395 51.7502 82.6459 51.1904V9.21582C82.6457 4.13418 78.5037 0 73.4125 0H9.2334C4.14219 0 0 4.13418 0 9.21582V14.4139C0 16.8551 1.98887 18.8412 4.43359 18.8412H6.33691V92.1961C6.33691 94.6373 8.32578 96.6234 10.7705 96.6234H62.4604C65.8869 98.8438 69.6242 100 73.4209 100C75.5318 100 77.6617 99.6428 79.7654 98.9129C84.3031 97.3389 88.3572 94.0479 91.1811 89.6459C94.1752 84.9783 95.7387 79.235 95.7025 73.048V61.1297C95.7025 56.833 92.5301 54.585 89.3963 54.585ZM10.2432 92.1961V18.8412H28.1387C29.2174 18.8412 30.0918 17.9668 30.0918 16.8883C30.0918 15.8098 29.2174 14.9354 28.1387 14.9354H4.43359C4.14785 14.9354 3.90625 14.6965 3.90625 14.4137V9.21582C3.90625 6.28789 6.2959 3.90586 9.2334 3.90586H65.8699C64.8053 5.40781 64.1793 7.24004 64.1793 9.21582V14.4139C64.1793 14.6967 63.9379 14.9355 63.652 14.9355H45.7178C44.6391 14.9355 43.7646 15.81 43.7646 16.8885C43.7646 17.967 44.6391 18.8414 45.7178 18.8414H63.652C66.0967 18.8414 68.0855 16.8553 68.0855 14.4141V9.21582C68.0855 6.28789 70.4752 3.90586 73.4125 3.90586C76.3498 3.90586 78.7395 6.28789 78.7395 9.21582V51.1895C78.476 51.2717 78.2166 51.3688 77.965 51.4848C77.0744 48.6598 74.5205 47.1947 71.992 47.1947C71.1764 47.1947 70.3588 47.3469 69.5947 47.648V36.6508C69.5947 32.3541 66.4238 30.1059 63.2914 30.1059C60.1588 30.1059 56.9879 32.3539 56.9879 36.6508V64.8717C56.9879 65.7465 57.0036 66.5455 57.0175 67.2524L57.0175 67.2533L57.0182 67.2863C57.0199 67.3635 57.0215 67.4416 57.0229 67.5199L52.483 62.6529C49.8383 59.8219 46.0143 59.5314 43.184 61.9471C40.3988 64.3242 39.1158 69.0029 42.2236 72.9914L55.7799 90.3904C56.4246 91.2178 57.0949 91.9928 57.7863 92.7176H10.7705C10.4846 92.7176 10.2432 92.4787 10.2432 92.1961ZM78.4852 95.223C86.6334 92.3967 91.8584 83.6969 91.7963 73.0594H91.7965V61.1297C91.7965 60.2521 91.5463 59.5727 91.0531 59.1104C90.6334 58.7166 90.0293 58.4908 89.3965 58.4908C88.9957 58.4908 86.9965 58.618 86.9965 61.1297V64.6117C86.9965 65.6902 86.1219 66.5647 85.0434 66.5647C83.9648 66.5647 83.0902 65.6902 83.0902 64.6117V57.4373C83.0902 56.5592 82.84 55.8793 82.3467 55.4162C81.9268 55.0225 81.3234 54.7965 80.6914 54.7965C80.2912 54.7965 78.2955 54.9238 78.2955 57.4375V64.6119C78.2955 65.6904 77.4209 66.5648 76.3424 66.5648C75.2639 66.5648 74.3893 65.6904 74.3893 64.6119V53.7398C74.3893 52.8619 74.1393 52.1824 73.6463 51.7199C73.227 51.3262 72.6238 51.1006 71.992 51.1006C71.5918 51.1006 69.5947 51.2277 69.5947 53.7396V64.6117C69.5947 65.6902 68.7201 66.5647 67.6416 66.5647C66.5631 66.5647 65.6885 65.6902 65.6885 64.6117V36.6508C65.6885 34.1389 63.6916 34.0117 63.2914 34.0117C62.8912 34.0117 60.8941 34.1389 60.8941 36.6508V64.8719C60.8941 65.706 60.9094 66.4822 60.9229 67.1695L60.9236 67.2086C60.9473 68.3928 60.9658 69.3281 60.9039 70.0814C60.8588 70.6291 60.7215 72.2959 59.2467 72.8941C57.3964 73.6441 55.7279 71.8569 54.3859 70.4194L54.3836 70.417L49.6275 65.3182C48.8488 64.4846 48.1072 64.2133 47.4719 64.2133C46.6773 64.2133 46.0486 64.6377 45.7201 64.918C44.3123 66.1193 43.6885 68.5162 45.3053 70.5912L58.8613 87.99C64.2553 94.9104 71.5918 97.6137 78.4852 95.223Z" fill="#CF322D"/><path d="M37.25 27.7771C37.25 28.8557 38.1244 29.7301 39.2031 29.7301H54.8344C55.9129 29.7301 56.7875 28.8557 56.7875 27.7771C56.7875 26.6986 55.9129 25.8242 54.8344 25.8242H39.2031C38.1244 25.8242 37.25 26.6986 37.25 27.7771Z" fill="#CF322D"/><path d="M51.5162 37.0225H39.2031C38.1244 37.0225 37.25 37.8969 37.25 38.9754C37.25 40.0539 38.1244 40.9283 39.2031 40.9283H51.5162C52.5947 40.9283 53.4693 40.0539 53.4693 38.9754C53.4693 37.8969 52.5947 37.0225 51.5162 37.0225Z" fill="#CF322D"/><path d="M19.7539 52.1324H49.5852C50.6637 52.1324 51.5383 51.258 51.5383 50.1795C51.5383 49.101 50.6637 48.2266 49.5852 48.2266H19.7539C18.6752 48.2266 17.8008 49.101 17.8008 50.1795C17.8008 51.258 18.6752 52.1324 19.7539 52.1324Z" fill="#CF322D"/><path d="M19.7539 63.3316H35.8459C36.9246 63.3316 37.799 62.4572 37.799 61.3787C37.799 60.3002 36.9246 59.4258 35.8459 59.4258H19.7539C18.6752 59.4258 17.8008 60.3002 17.8008 61.3787C17.8008 62.4572 18.6752 63.3316 19.7539 63.3316Z" fill="#CF322D"/><path d="M19.7539 74.5357H33.926C35.0047 74.5357 35.8791 73.6613 35.8791 72.5828C35.8791 71.5043 35.0047 70.6299 33.926 70.6299H19.7539C18.6752 70.6299 17.8008 71.5043 17.8008 72.5828C17.8008 73.6613 18.6752 74.5357 19.7539 74.5357Z" fill="#CF322D"/><path d="M40.5459 81.8291H19.7539C18.6752 81.8291 17.8008 82.7035 17.8008 83.782C17.8008 84.8605 18.6752 85.735 19.7539 85.735H40.5459C41.6246 85.735 42.499 84.8605 42.499 83.782C42.499 82.7035 41.6246 81.8291 40.5459 81.8291Z" fill="#CF322D"/><path d="M36.928 18.8414H36.9392C38.0179 18.8414 38.8868 17.967 38.8868 16.8885C38.8868 15.81 38.0069 14.9355 36.9282 14.9355C35.8495 14.9355 34.9751 15.81 34.9751 16.8885C34.9751 17.967 35.8493 18.8414 36.928 18.8414Z" fill="#CF322D"/></svg>      
    <span>{{ ss.b_anchor_heading }}</span>
    <div class="steps__info">{{ ss.b_anchor_info }}</div>
  </div>
  <div class="steps__item">
    <svg width="93" height="100" viewBox="0 0 93 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M79.7687 21.5388C72.5552 14.0771 63.2192 9.33237 53.0872 7.88901L55.9751 5.00112C57.1192 3.85698 57.1192 2.0021 55.9751 0.857959C54.8312 -0.285986 52.9761 -0.285986 51.8319 0.857959L44.4126 8.2771C43.2685 9.42105 43.2685 11.2761 44.4126 12.4203L51.8317 19.8394C52.4038 20.4115 53.1536 20.6976 53.9032 20.6976C54.6528 20.6976 55.4028 20.4115 55.9747 19.8394C57.1189 18.6955 57.1189 16.8404 55.9747 15.6962L54.3155 14.0371C62.3649 15.6123 69.7476 19.6033 75.5556 25.6111C82.8808 33.1884 86.9149 43.1673 86.9149 53.7093C86.9153 76.0031 68.7778 94.1404 46.4843 94.1404C24.1907 94.1404 6.05322 76.0031 6.05322 53.7095C6.05322 45.2027 8.66397 37.0652 13.6034 30.1769C18.4403 23.4314 25.1083 18.398 32.887 15.621C34.4108 15.0769 35.205 13.4007 34.661 11.8767C34.1171 10.3529 32.4405 9.55874 30.9167 10.1027C22.0099 13.2826 14.3765 19.0435 8.8415 26.7625C3.18408 34.6523 0.193848 43.9705 0.193848 53.7097C0.193848 66.0744 5.00889 77.6988 13.7521 86.4419C22.4952 95.1845 34.1196 99.9998 46.4843 99.9998C58.8489 99.9998 70.4733 95.1847 79.2165 86.4417C87.9597 77.6986 92.7747 66.0742 92.7747 53.7095C92.7747 41.6396 88.1556 30.2144 79.7687 21.5388Z" fill="#CF322D"/><path d="M16.3835 53.7094C16.3835 70.3068 29.8867 83.81 46.4843 83.81C63.0818 83.81 76.5849 70.3068 76.5849 53.7094C76.5849 37.1119 63.0818 23.6084 46.4843 23.6084C29.8865 23.6084 16.3835 37.1117 16.3835 53.7094Z" stroke="#CF322D" stroke-width="6"/><path d="M48.2827 56.3174C44.0655 54.8266 41.6222 53.6516 39.8495 52.2611C37.6679 50.55 36.6693 47.5947 37.2431 44.5488C37.8657 41.2445 40.17 38.6141 43.257 37.6842C43.2997 37.6713 43.3417 37.6609 43.3843 37.6484V36.4688C43.3843 34.8508 44.696 33.5391 46.314 33.5391C47.932 33.5391 49.2437 34.8508 49.2437 36.4688V37.4619C51.2892 37.941 52.7169 38.876 53.2941 39.3074C54.59 40.2764 54.8552 42.1121 53.8864 43.4082C52.9175 44.7043 51.0821 44.9691 49.7857 44.0006C49.1653 43.5369 47.4532 42.5393 44.947 43.2943C43.4663 43.7404 43.0833 45.1977 43.0011 45.6338C42.8388 46.4951 43.0253 47.3059 43.4653 47.6508C44.998 48.8525 47.7476 49.9137 50.2353 50.793C54.7861 52.4016 57.3165 56.6174 56.5321 61.2832C56.147 63.574 54.9946 65.6996 53.2868 67.2687C52.1124 68.3477 50.7439 69.1148 49.2437 69.5477V70.9504C49.2437 72.5684 47.932 73.8801 46.314 73.8801C44.696 73.8801 43.3843 72.5684 43.3843 70.9504V69.8357C41.4353 69.6066 39.8089 69.0064 37.6216 67.5756C36.2675 66.6898 35.888 64.874 36.7737 63.5199C37.6595 62.1656 39.4755 61.7863 40.8294 62.6721C42.8573 63.9988 43.6241 64.1207 46.2945 64.1021C48.9236 64.0846 50.4489 62.125 50.7538 60.3117C50.903 59.4262 50.9603 57.2639 48.2827 56.3174Z" fill="#CF322D"/></svg>
    <span>{{ ss.c_anchor_heading }}</span>
    <div class="steps__info">{{ ss.c_anchor_info }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Steps",
  "tag": "section",
  "class": "section page-width steps-container",
  "settings": [
    {
      "type": "header",
      "content": "Anchor 1"
    },
    {
      "type": "text",
      "id": "a_anchor_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "a_anchor_info",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Anchor 2"
    },
    {
      "type": "text",
      "id": "b_anchor_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "b_anchor_info",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Anchor 3"
    },
    {
      "type": "text",
      "id": "c_anchor_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "c_anchor_info",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Steps"
    }
  ]
}
{% endschema %}