{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (max-width: 992px) {
    section:not(.bc) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="terms-job sm-flex-column d-flex section-{{ section.id }}-padding">
  <div class="terms-job-item">
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4714 0.237082C11.8364 -0.0791062 12.3787 -0.0791062 12.7432 0.237556L23.8506 9.89053C24.1559 10.1607 24.264 10.5907 24.1232 10.9732C23.9828 11.3558 23.6216 11.6132 23.2144 11.6217H21.4372V23.0007C21.4434 23.2619 21.3457 23.5146 21.1661 23.7042C20.9921 23.8881 20.7522 23.9943 20.4996 24H20.4901L3.4733 23.8279C2.93668 23.8165 2.50719 23.3795 2.5053 22.8429V11.6217H0.971287C0.56266 11.6142 0.200964 11.3558 0.061121 10.9718C-0.0801444 10.5864 0.0284118 10.1536 0.335593 9.88058L11.4714 0.237082ZM20.6148 9.68005L12.1061 2.29207L3.57522 9.68005H20.6148ZM13.9127 21.9692L10.272 21.9351V17.6895H13.9127V21.9692ZM15.8544 21.9872L19.4951 22.0204V11.6217H4.44698V21.8805L8.33036 21.917V16.712C8.346 16.1712 8.7916 15.7421 9.33249 15.7478H14.9428C15.479 15.7478 15.8544 16.1759 15.8544 16.712V21.9872Z" fill="#CF322D"/></svg>
    <span>{{ section.settings.shape_text }}</span>
  </div>
  <div class="terms-job-item">
    <svg width="29" height="24" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.48 23.9816H3.2975C1.47848 23.9816 0 22.5031 0 20.6841V5.69571C0 3.8767 1.47848 2.39844 3.2975 2.39844H10.4919C10.9883 2.39844 11.3912 2.80132 11.3912 3.29773C11.3912 3.79415 10.9883 4.19703 10.4919 4.19703H3.2975C2.47131 4.19703 1.79859 4.86953 1.79859 5.69571V20.6841C1.79859 21.5103 2.47131 22.183 3.2975 22.183H25.48C26.3062 22.183 26.9789 21.5103 26.9789 20.6841V5.69571C26.9789 4.86953 26.3062 4.19703 25.48 4.19703H18.2856C17.7892 4.19703 17.3863 3.79415 17.3863 3.29773C17.3863 2.80132 17.7892 2.39844 18.2856 2.39844H25.48C27.299 2.39844 28.7775 3.8767 28.7775 5.69571V20.6841C28.7775 22.5031 27.299 23.9816 25.48 23.9816Z" fill="#CF322D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6911 6.59477H17.0868C18.2439 6.59477 19.1851 5.65354 19.1851 4.49649V2.09829C19.1851 0.941232 18.2439 0 17.0868 0H11.6911C10.534 0 9.59277 0.941232 9.59277 2.09829V4.49649C9.59277 5.65354 10.534 6.59477 11.6911 6.59477ZM11.3914 2.09829C11.3914 1.93296 11.5255 1.79859 11.6911 1.79859H17.0868C17.2524 1.79859 17.3865 1.93296 17.3865 2.09829V4.49649C17.3865 4.66203 17.2524 4.79618 17.0868 4.79618H11.6911C11.5255 4.79618 11.3914 4.66203 11.3914 4.49649V2.09829Z" fill="#CF322D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.99512 11.3914C5.99512 13.0435 7.34033 14.3889 8.9927 14.3889C10.6451 14.3889 11.9903 13.0435 11.9903 11.3914C11.9903 9.73899 10.6451 8.39355 8.9927 8.39355C7.34033 8.39355 5.99512 9.73899 5.99512 11.3914ZM7.79371 11.3914C7.79371 10.7305 8.33206 10.1921 8.9927 10.1921C9.65334 10.1921 10.1917 10.7305 10.1917 11.3914C10.1917 12.052 9.65334 12.5903 8.9927 12.5903C8.33206 12.5903 7.79371 12.052 7.79371 11.3914Z" fill="#CF322D"/><path d="M13.4899 20.3843C12.9935 20.3843 12.5906 19.9814 12.5906 19.485V18.8854C12.5906 18.0592 11.9179 17.3865 11.0917 17.3865H6.89515C6.06897 17.3865 5.39625 18.0592 5.39625 18.8854V19.485C5.39625 19.9814 4.99337 20.3843 4.49695 20.3843C4.00054 20.3843 3.59766 19.9814 3.59766 19.485V18.8854C3.59766 17.0664 5.07614 15.5879 6.89515 15.5879H11.0917C12.9107 15.5879 14.3892 17.0664 14.3892 18.8854V19.485C14.3892 19.9814 13.9863 20.3843 13.4899 20.3843Z" fill="#CF322D"/><path d="M24.2812 10.7918H17.6864C17.19 10.7918 16.7871 10.3889 16.7871 9.89246C16.7871 9.39605 17.19 8.99316 17.6864 8.99316H24.2812C24.7776 8.99316 25.1805 9.39605 25.1805 9.89246C25.1805 10.3889 24.7776 10.7918 24.2812 10.7918Z" fill="#CF322D"/><path d="M24.2812 15.5877H17.6864C17.19 15.5877 16.7871 15.1848 16.7871 14.6884C16.7871 14.1919 17.19 13.7891 17.6864 13.7891H24.2812C24.7776 13.7891 25.1805 14.1919 25.1805 14.6884C25.1805 15.1848 24.7776 15.5877 24.2812 15.5877Z" fill="#CF322D"/><path d="M24.2812 20.3845H17.6864C17.19 20.3845 16.7871 19.9816 16.7871 19.4852C16.7871 18.9888 17.19 18.5859 17.6864 18.5859H24.2812C24.7776 18.5859 25.1805 18.9888 25.1805 19.4852C25.1805 19.9816 24.7776 20.3845 24.2812 20.3845Z" fill="#CF322D"/></svg>
    <span>{{ section.settings.name_text }}</span>
  </div>
  <div class="terms-job-item">
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 11.843C0 18.3732 5.31271 23.6859 11.8429 23.6859C18.3731 23.6859 23.6858 18.3732 23.6858 11.843C23.6858 5.31286 18.3731 0 11.8429 0C5.31263 0 0 5.31278 0 11.843Z" stroke="#CF322D" stroke-width="2.36066"/><path d="M12.5503 12.8692C10.8911 12.2826 9.92976 11.8203 9.23233 11.2733C8.37398 10.6001 7.98107 9.43732 8.20684 8.23894C8.45182 6.93889 9.35843 5.90395 10.573 5.53809C10.5898 5.53302 10.6063 5.52895 10.6231 5.52403V5.05989C10.6231 4.42331 11.1391 3.90723 11.7757 3.90723C12.4123 3.90723 12.9284 4.42331 12.9284 5.05989V5.45064C13.7332 5.63914 14.2949 6.007 14.522 6.17674C15.0318 6.55797 15.1362 7.28023 14.755 7.79017C14.3738 8.30011 13.6517 8.40431 13.1416 8.02324C12.8976 7.84081 12.224 7.44829 11.2379 7.74537C10.6553 7.92088 10.5046 8.49421 10.4723 8.66581C10.4084 9.00469 10.4818 9.32367 10.6549 9.45938C11.2579 9.9322 12.3398 10.3497 13.3185 10.6956C15.109 11.3285 16.1046 12.9872 15.796 14.823C15.6444 15.7243 15.1911 16.5606 14.5191 17.1779C14.0571 17.6024 13.5186 17.9043 12.9284 18.0745V18.6264C12.9284 19.263 12.4123 19.7791 11.7757 19.7791C11.1391 19.7791 10.6231 19.263 10.6231 18.6264V18.1879C9.85623 18.0977 9.21634 17.8616 8.35576 17.2986C7.823 16.9502 7.67369 16.2357 8.02218 15.703C8.37067 15.1701 9.08517 15.0209 9.61785 15.3694C10.4157 15.8914 10.7174 15.9393 11.768 15.932C12.8024 15.9251 13.4026 15.1542 13.5225 14.4407C13.5813 14.0923 13.6038 13.2416 12.5503 12.8692Z" fill="#CF322D"/></svg>
    <span>{{ section.settings.hours_text }}</span>
  </div>
</div>

{% schema %}
{
  "name": "Terms job",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "shape_text",
      "label": "Shape text"
    },
    {
      "type": "text",
      "id": "name_text",
      "label": "Name text"
    },
    {
      "type": "text",
      "id": "hours_text",
      "label": "Name text"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "Terms job"
    }
  ]
}
{% endschema %}