{%- assign s = section -%}
{%- assign ss = s.settings -%}

<div class="text-with-collage__container">
  <div class="text-with-collage__info d-flex">
    <div class="text-with-collage__info-description d-flex flex-column">
      <p class="text-with-collage__info-heading">{{ ss.heading }}</p>
      <div class="text-with-collage__info-text">{{ ss.text }}</div>
    </div>
    <img
      src="{{ ss.main_image | image_url }}"
      alt="{{ ss.main_image.alt | escape }}"
      loading="lazy"
      class="text-with-collage__main-image"
    >
  </div>
  <div class="text-with-collage__collage">
    {%- for photo in s.blocks offset: 0 -%}
    <img
      src="{{ photo.settings.image | image_url }}"
      alt="{{ photo.settings.image.alt | escape }}"
      loading="lazy"
      class="text-with-collage__img text-with-collage__img-{{ forloop.index }}"
    >
    <style>
      .text-with-collage__img-{{ forloop.index }} {
        width:{{ photo.settings.width }}%
      }

      @media (max-width:991.7px) {
        .text-with-collage__img-{{ forloop.index }} {
          width: {{ photo.settings.width_mob }}%
        }
      }
    </style>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Text with collage",
  "tag": "section",
  "class": "section page-width text-with-collage",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main image"
    }
  ],
  "blocks": [
    {
      "type": "photo",
      "name": "Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width in %",
          "default": "0"
        },
        {
          "type": "text",
          "id": "width_mob",
          "label": "Width in % on mobile devices",
          "info": "Using only fist 4 elements.",
          "default": "0"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with collage"
    }
  ]
}
{% endschema %}