{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
.positioning--{{ s.id }} {
    padding: {{ ss.padding_section_sm }};
}
@media (min-width: 768px) {
    .positioning--{{ s.id }} {
        padding: {{ ss.padding_section }};
    }
}
{%- endstyle -%}

<section class="video-with-info positioning--{{ s.id }}">
    <div class="page-width">
        {%- if ss.heading != blank -%}
            <h3 class="video-with-info__heading c-grey-1">{{ ss.heading }}</h3>
        {%- endif -%}
        <div class="video-with-info__wrapper">
            <div class="video-with-info__video">
                <button class="btn-video-play">{%- render 'icon-video-play' -%}</button>
                <video class="video-click-listener" playsinline poster="{{ ss.video_poster | img_url: '1024x' }}">
                    <source src="{{ ss.video_webm }}" type="video/webm">
                    <source src="{{ ss.video_mp4 }}" type="video/mp4">
                </video>
            </div>
            <div class="video-with-info__info">
                {%- for b in s.blocks -%}
                    <div class="info-column">
                        <h3 class="text-32px c-grey-1">{{ b.settings.heading }}</h3>
                        {%- if b.settings.small_text != blank -%}
                        <p>{{ b.settings.small_text }}</p>
                        {%- endif -%}
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</section>

{{ 'video-button-play.js' | asset_url | script_tag }}

{% schema %}
{
    "name": "Video with info",
    "settings": [                 
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }, 
        {
            "type": "url",
            "id": "video_webm",
            "label": "Video WebM URL"
        },
        {
            "type": "url",
            "id": "video_mp4",
            "label": "Video MP4 URL"
        },
        {
            "type": "image_picker",
            "id": "video_poster",
            "label": "Video poster"
        },          
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "padding_section",
            "label": "Padding section"
        },
        {
            "type": "text",
            "id": "padding_section_sm",
            "label": "Padding section (mobile)"
        }
    ],
    "blocks": [
        {
            "type": "info-block",
            "name": "Info block",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "small_text",
                    "label": "Small text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Video with info",
            "category": "new"
        }
    ]
}
{% endschema %}