{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="work-to-roa_step-1">
  <div class="work-to-roa__form-container m-auto">
    <p class="work-to-roa__form-container-title">Step 1. Personal Info</p>
    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="footer__field-wrapper">
        <div class="field footer__form-box">
          <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
          >
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <button type="submit" class="button__red" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">{{ section.settings.button-label }}</button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
      {%- endif -%}
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Work to ROA",
  "tag": "section",
  "class": "section work-to-roa",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "step_1",
      "name": "Step 1",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "About steps"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Work to ROA"
    }
  ]
}
{% endschema %}