{%- assign s = section -%}
{%- assign ss = s.settings -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- if section.settings.bg_color != 'transparent' -%}
    section.work-to-roa {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .work-to-roa__step {
      width: 94rem;
    }

    .work-to-roa__form-textarea {
      background: white;
    }

    .work-to-roa__form-container-title-block {
      background: {{ section.settings.bg_color }};
    }

    .work-to-roa__form-container-title {
      max-width: 75rem;
      margin: auto;
      margin-top: 1.6rem;
      padding-top: 2.4rem;
    }

    .work-to-roa__form-container-title-block + div {
      background: {{ section.settings.bg_color }};
    }

    .work-to-roa__form-btncontainer {
      margin: auto;
      padding-bottom: 5.6rem;
      padding-top: 6.2rem;
      margin-left: 0;
      margin-right: 0;
      height: auto;
      width: 100%;
      padding-left: calc((100% - 75rem) / 2);
      padding-right: calc((100% - 75rem) / 2);
      max-width: 100%;
      background: {{ section.settings.bg_color }};
    }

    #ContactForm {
      margin-bottom: 17rem
    }

    @media (max-width: 992px) {
      .work-to-roa__step {
        width: 100%;
      }
    }

    @media (max-width: 576px) {
      #ContactForm {
        margin-bottom: 0rem
      }

      .work-to-roa__form-btncontainer {
        margin-bottom: 4rem;
        padding-top: 5.6rem;
      }
    }

    @media (min-width: 576px) {
      .work-to-roa__form-container form {
        max-width: 94rem;
      }

      .work-to-roa__form-container-title {
        padding-top: 5.6rem;
      }
    }

    @media (min-width: 992px) {
      .work-to-roa__form-container-title-block + div {
        padding-left: 9.5rem;
        padding-right: 9.5rem;
        margin-top: 0;
        {% comment %} padding-bottom: 5.6rem; {% endcomment %}
      }
    }
  {%- endif -%}
{%- endstyle -%}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="work-to-roa__form-container m-auto">
  {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
    <div class="work-to-roa__step active" data-step="1" id="step_1">
      <div class="work-to-roa__info text-center">{{ ss.step_1 }}</div>
      <div class="work-to-roa__form-container-title-block">
        <p class="work-to-roa__form-container-title">Step 1. Personal Info</p>
      </div>
      <div>
        <p class="work-to-roa__form-heading">Date You Are Available For Employment</p>
        <div class="work-to-roa__form-fields date d-flex">
          <input class="work-to-roa__form-input sm" type="text" id="ContactForm-month" name="contact[month]" placeholder="Month">
          <input class="work-to-roa__form-input sm" type="text" id="ContactForm-day" name="contact[day]" placeholder="Day">
          <input class="work-to-roa__form-input sm" type="text" id="ContactForm-year" name="contact[year]" placeholder="Year">
          <span class="NativeDatepicker"><input type="date" required="required" class="NativeDatepicker__input" name="contact[date-employment]"></span>
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">FIRST NAME</label>
            <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-firstName" name="contact[firstName]" placeholder="First name">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">LAST NAME</label>
            <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-lastName" name="contact[lastName]" placeholder="Last name">
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">ADDRESS</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-adress1" required="required" name="contact[adress1]" placeholder="Street Address Line 1">
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-adress2" required="required" name="contact[adress2]" placeholder="Street Address Line 2">
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">CITY</label>
            <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-city" name="contact[city]" placeholder="City">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">STATE/PROVINCE</label>
            <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-state" name="contact[state]" placeholder="State/province">
          </div>
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">POSTAL / ZIP CODE</label>
            <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-zip" name="contact[zip]" placeholder="Postal / zip code">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">COUNTRY</label>
            <select class="work-to-roa__form-input md" required="required" autocomplete="section-input_7 country">
              <option value=""> Please Select </option>
              <option value="United States"> United States </option>
              <option value="Afghanistan"> Afghanistan </option>
              <option value="Albania"> Albania </option>
              <option value="Algeria"> Algeria </option>
              <option value="American Samoa"> American Samoa </option>
              <option value="Andorra"> Andorra </option>
              <option value="Angola"> Angola </option>
              <option value="Anguilla"> Anguilla </option>
              <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
              <option value="Argentina"> Argentina </option>
              <option value="Armenia"> Armenia </option>
              <option value="Aruba"> Aruba </option>
              <option value="Australia"> Australia </option>
              <option value="Austria"> Austria </option>
              <option value="Azerbaijan"> Azerbaijan </option>
              <option value="The Bahamas"> The Bahamas </option>
              <option value="Bahrain"> Bahrain </option>
              <option value="Bangladesh"> Bangladesh </option>
              <option value="Barbados"> Barbados </option>
              <option value="Belarus"> Belarus </option>
              <option value="Belgium"> Belgium </option>
              <option value="Belize"> Belize </option>
              <option value="Benin"> Benin </option>
              <option value="Bermuda"> Bermuda </option>
              <option value="Bhutan"> Bhutan </option>
              <option value="Bolivia"> Bolivia </option>
              <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
              <option value="Botswana"> Botswana </option>
              <option value="Brazil"> Brazil </option>
              <option value="Brunei"> Brunei </option>
              <option value="Bulgaria"> Bulgaria </option>
              <option value="Burkina Faso"> Burkina Faso </option>
              <option value="Burundi"> Burundi </option>
              <option value="Cambodia"> Cambodia </option>
              <option value="Cameroon"> Cameroon </option>
              <option value="Canada"> Canada </option>
              <option value="Cape Verde"> Cape Verde </option>
              <option value="Cayman Islands"> Cayman Islands </option>
              <option value="Central African Republic"> Central African Republic </option>
              <option value="Chad"> Chad </option>
              <option value="Chile"> Chile </option>
              <option value="China"> China </option>
              <option value="Christmas Island"> Christmas Island </option>
              <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands </option>
              <option value="Colombia"> Colombia </option>
              <option value="Comoros"> Comoros </option>
              <option value="Congo"> Congo </option>
              <option value="Cook Islands"> Cook Islands </option>
              <option value="Costa Rica"> Costa Rica </option>
              <option value="Cote d'Ivoire"> Cote d'Ivoire </option>
              <option value="Croatia"> Croatia </option>
              <option value="Cuba"> Cuba </option>
              <option value="Curacao"> Curacao </option>
              <option value="Cyprus"> Cyprus </option>
              <option value="Czech Republic"> Czech Republic </option>
              <option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </option>
              <option value="Denmark"> Denmark </option>
              <option value="Djibouti"> Djibouti </option>
              <option value="Dominica"> Dominica </option>
              <option value="Dominican Republic"> Dominican Republic </option>
              <option value="Ecuador"> Ecuador </option>
              <option value="Egypt"> Egypt </option>
              <option value="El Salvador"> El Salvador </option>
              <option value="Equatorial Guinea"> Equatorial Guinea </option>
              <option value="Eritrea"> Eritrea </option>
              <option value="Estonia"> Estonia </option>
              <option value="Ethiopia"> Ethiopia </option>
              <option value="Falkland Islands"> Falkland Islands </option>
              <option value="Faroe Islands"> Faroe Islands </option>
              <option value="Fiji"> Fiji </option>
              <option value="Finland"> Finland </option>
              <option value="France"> France </option>
              <option value="French Polynesia"> French Polynesia </option>
              <option value="Gabon"> Gabon </option>
              <option value="The Gambia"> The Gambia </option>
              <option value="Georgia"> Georgia </option>
              <option value="Germany"> Germany </option>
              <option value="Ghana"> Ghana </option>
              <option value="Gibraltar"> Gibraltar </option>
              <option value="Greece"> Greece </option>
              <option value="Greenland"> Greenland </option>
              <option value="Grenada"> Grenada </option>
              <option value="Guadeloupe"> Guadeloupe </option>
              <option value="Guam"> Guam </option>
              <option value="Guatemala"> Guatemala </option>
              <option value="Guernsey"> Guernsey </option>
              <option value="Guinea"> Guinea </option>
              <option value="Guinea-Bissau"> Guinea-Bissau </option>
              <option value="Guyana"> Guyana </option>
              <option value="Haiti"> Haiti </option>
              <option value="Honduras"> Honduras </option>
              <option value="Hong Kong"> Hong Kong </option>
              <option value="Hungary"> Hungary </option>
              <option value="Iceland"> Iceland </option>
              <option value="India"> India </option>
              <option value="Indonesia"> Indonesia </option>
              <option value="Iran"> Iran </option>
              <option value="Iraq"> Iraq </option>
              <option value="Ireland"> Ireland </option>
              <option value="Israel"> Israel </option>
              <option value="Italy"> Italy </option>
              <option value="Jamaica"> Jamaica </option>
              <option value="Japan"> Japan </option>
              <option value="Jersey"> Jersey </option>
              <option value="Jordan"> Jordan </option>
              <option value="Kazakhstan"> Kazakhstan </option>
              <option value="Kenya"> Kenya </option>
              <option value="Kiribati"> Kiribati </option>
              <option value="North Korea"> North Korea </option>
              <option value="South Korea"> South Korea </option>
              <option value="Kosovo"> Kosovo </option>
              <option value="Kuwait"> Kuwait </option>
              <option value="Kyrgyzstan"> Kyrgyzstan </option>
              <option value="Laos"> Laos </option>
              <option value="Latvia"> Latvia </option>
              <option value="Lebanon"> Lebanon </option>
              <option value="Lesotho"> Lesotho </option>
              <option value="Liberia"> Liberia </option>
              <option value="Libya"> Libya </option>
              <option value="Liechtenstein"> Liechtenstein </option>
              <option value="Lithuania"> Lithuania </option>
              <option value="Luxembourg"> Luxembourg </option>
              <option value="Macau"> Macau </option>
              <option value="Macedonia"> Macedonia </option>
              <option value="Madagascar"> Madagascar </option>
              <option value="Malawi"> Malawi </option>
              <option value="Malaysia"> Malaysia </option>
              <option value="Maldives"> Maldives </option>
              <option value="Mali"> Mali </option>
              <option value="Malta"> Malta </option>
              <option value="Marshall Islands"> Marshall Islands </option>
              <option value="Martinique"> Martinique </option>
              <option value="Mauritania"> Mauritania </option>
              <option value="Mauritius"> Mauritius </option>
              <option value="Mayotte"> Mayotte </option>
              <option value="Mexico"> Mexico </option>
              <option value="Micronesia"> Micronesia </option>
              <option value="Moldova"> Moldova </option>
              <option value="Monaco"> Monaco </option>
              <option value="Mongolia"> Mongolia </option>
              <option value="Montenegro"> Montenegro </option>
              <option value="Montserrat"> Montserrat </option>
              <option value="Morocco"> Morocco </option>
              <option value="Mozambique"> Mozambique </option>
              <option value="Myanmar"> Myanmar </option>
              <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option>
              <option value="Namibia"> Namibia </option>
              <option value="Nauru"> Nauru </option>
              <option value="Nepal"> Nepal </option>
              <option value="Netherlands"> Netherlands </option>
              <option value="Netherlands Antilles"> Netherlands Antilles </option>
              <option value="New Caledonia"> New Caledonia </option>
              <option value="New Zealand"> New Zealand </option>
              <option value="Nicaragua"> Nicaragua </option>
              <option value="Niger"> Niger </option>
              <option value="Nigeria"> Nigeria </option>
              <option value="Niue"> Niue </option>
              <option value="Norfolk Island"> Norfolk Island </option>
              <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of Northern Cyprus </option>
              <option value="Northern Mariana"> Northern Mariana </option>
              <option value="Norway"> Norway </option>
              <option value="Oman"> Oman </option>
              <option value="Pakistan"> Pakistan </option>
              <option value="Palau"> Palau </option>
              <option value="Palestine"> Palestine </option>
              <option value="Panama"> Panama </option>
              <option value="Papua New Guinea"> Papua New Guinea </option>
              <option value="Paraguay"> Paraguay </option>
              <option value="Peru"> Peru </option>
              <option value="Philippines"> Philippines </option>
              <option value="Pitcairn Islands"> Pitcairn Islands </option>
              <option value="Poland"> Poland </option>
              <option value="Portugal"> Portugal </option>
              <option value="Puerto Rico"> Puerto Rico </option>
              <option value="Qatar"> Qatar </option>
              <option value="Republic of the Congo"> Republic of the Congo </option>
              <option value="Romania"> Romania </option>
              <option value="Russia"> Russia </option>
              <option value="Rwanda"> Rwanda </option>
              <option value="Saint Barthelemy"> Saint Barthelemy </option>
              <option value="Saint Helena"> Saint Helena </option>
              <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
              <option value="Saint Lucia"> Saint Lucia </option>
              <option value="Saint Martin"> Saint Martin </option>
              <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon </option>
              <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines </option>
              <option value="Samoa"> Samoa </option>
              <option value="San Marino"> San Marino </option>
              <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
              <option value="Saudi Arabia"> Saudi Arabia </option>
              <option value="Senegal"> Senegal </option>
              <option value="Serbia"> Serbia </option>
              <option value="Seychelles"> Seychelles </option>
              <option value="Sierra Leone"> Sierra Leone </option>
              <option value="Singapore"> Singapore </option>
              <option value="Slovakia"> Slovakia </option>
              <option value="Slovenia"> Slovenia </option>
              <option value="Solomon Islands"> Solomon Islands </option>
              <option value="Somalia"> Somalia </option>
              <option value="Somaliland"> Somaliland </option>
              <option value="South Africa"> South Africa </option>
              <option value="South Ossetia"> South Ossetia </option>
              <option value="South Sudan"> South Sudan </option>
              <option value="Spain"> Spain </option>
              <option value="Sri Lanka"> Sri Lanka </option>
              <option value="Sudan"> Sudan </option>
              <option value="Suriname"> Suriname </option>
              <option value="Svalbard"> Svalbard </option>
              <option value="eSwatini"> eSwatini </option>
              <option value="Sweden"> Sweden </option>
              <option value="Switzerland"> Switzerland </option>
              <option value="Syria"> Syria </option>
              <option value="Taiwan"> Taiwan </option>
              <option value="Tajikistan"> Tajikistan </option>
              <option value="Tanzania"> Tanzania </option>
              <option value="Thailand"> Thailand </option>
              <option value="Timor-Leste"> Timor-Leste </option>
              <option value="Togo"> Togo </option>
              <option value="Tokelau"> Tokelau </option>
              <option value="Tonga"> Tonga </option>
              <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie </option>
              <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
              <option value="Tristan da Cunha"> Tristan da Cunha </option>
              <option value="Tunisia"> Tunisia </option>
              <option value="Turkey"> Turkey </option>
              <option value="Turkmenistan"> Turkmenistan </option>
              <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option>
              <option value="Tuvalu"> Tuvalu </option>
              <option value="Uganda"> Uganda </option>
              <option value="Ukraine"> Ukraine </option>
              <option value="United Arab Emirates"> United Arab Emirates </option>
              <option value="United Kingdom"> United Kingdom </option>
              <option value="Uruguay"> Uruguay </option>
              <option value="Uzbekistan"> Uzbekistan </option>
              <option value="Vanuatu"> Vanuatu </option>
              <option value="Vatican City"> Vatican City </option>
              <option value="Venezuela"> Venezuela </option>
              <option value="Vietnam"> Vietnam </option>
              <option value="British Virgin Islands"> British Virgin Islands </option>
              <option value="Isle of Man"> Isle of Man </option>
              <option value="US Virgin Islands"> US Virgin Islands </option>
              <option value="Wallis and Futuna"> Wallis and Futuna </option>
              <option value="Western Sahara"> Western Sahara </option>
              <option value="Yemen"> Yemen </option>
              <option value="Zambia"> Zambia </option>
              <option value="Zimbabwe"> Zimbabwe </option>
              <option value="other"> Other </option>
            </select>
            {% comment %} <input class="work-to-roa__form-input md" required="required" type="text" id="ContactForm-country" name="contact[country]" placeholder="Country"> {% endcomment %}
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">FACEBOOK URL</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-facebook-url" name="contact[facebook-url]" placeholder="Facebook url">
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">School Currently Attending / Recently Graduated</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-graduated" name="contact[graduated]">
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">Graduation Year</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-graduation-year" name="contact[graduation-year]" placeholder="Your Year">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">Current GPA</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-gpa" name="contact[gpa]" placeholder="Your GPA">
          </div>
        </div>
        <div class="work-to-roa__form-dragndrop">
          <label class="work-to-roa__form-heading">Please Upload a Copy of Your Most Recent Transcript</label>
          <div class="work-to-roa__form-dragndrop-container d-flex">
            <div class="work-to-roa__form-dropzone d-flex flex-column justify-content-center align-items-center" id="dropzone">
              <svg width="51" height="56" viewBox="0 0 51 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92242 36.5847H18.8856C18.5322 37.9724 18.3301 39.4109 18.343 40.8994C18.343 43.2711 18.8223 45.5419 19.6926 47.5602H4.49121C1.9931 47.5602 0 45.5671 0 43.0566V4.55402C0 2.04352 1.9931 0 4.49121 0H23.8433V8.18732C23.8433 11.1016 26.215 13.4984 29.1416 13.4984H36.7111V23.8685C36.5965 23.8599 36.4902 23.8513 36.3897 23.8431C36.0477 23.8154 35.771 23.7929 35.4495 23.7929C31.0719 23.7929 27.0601 25.4831 24.0326 28.1324H7.92242C7.36743 28.1324 6.91327 28.5866 6.91327 29.1416C6.91327 29.697 7.36743 30.1508 7.92242 30.1508H22.1151C21.0551 31.5385 20.1972 32.9266 19.5542 34.5663H7.92242C7.36743 34.5663 6.91327 35.0205 6.91327 35.5755C6.91327 36.1309 7.36743 36.5847 7.92242 36.5847ZM20.7022 21.8246H7.92242C7.36743 21.8246 6.91327 22.2787 6.91327 22.8342C6.91327 23.3892 7.36743 23.8433 7.92242 23.8433H20.7022C21.2572 23.8433 21.7114 23.3892 21.7114 22.8342C21.7114 22.2787 21.2572 21.8246 20.7022 21.8246Z" fill="#CF3231"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3613 40.9245C20.3613 32.6107 27.1234 25.8491 35.4367 25.8491C43.7505 25.8491 50.5125 32.6107 50.5125 40.9245C50.5125 49.2379 43.7505 55.9999 35.4367 55.9999C27.1234 55.9999 20.3613 49.2379 20.3613 40.9245ZM36.4587 42.0093H40.5714C41.1263 42.0093 41.5805 41.5551 41.5805 41.0001C41.5805 40.4451 41.1268 39.991 40.5714 39.991H36.4587V35.8151C36.4587 35.2601 36.0049 34.8059 35.4495 34.8059C34.8945 34.8059 34.4404 35.2601 34.4404 35.8151V39.991H30.2649C29.7095 39.991 29.2553 40.4451 29.2553 41.0001C29.2553 41.5551 29.7095 42.0093 30.2649 42.0093H34.4404V46.1219C34.4404 46.6769 34.8945 47.1311 35.4495 47.1311C36.0049 47.1311 36.4587 46.6769 36.4587 46.1219V42.0093Z" fill="#CF3231"/><path d="M29.1418 11.4799H35.3236L25.8618 1.52637V8.18713C25.8618 9.99139 27.3251 11.4799 29.1418 11.4799Z" fill="#CF3231"/></svg>
              <p class="work-to-roa__form-dropzone-text">Drag & Drop you files here</p>
              <p class="work-to-roa__form-dropzone-undertext">Need file manager? Click <span>here</span></p>
              <input type="file" class="work-to-roa__form-dropzone-input" id="ContactForm-files-transcript" accept="image/*" name="contact[files-transcript]" multiple>
            </div>
            <div class="d-flex flex-column work-to-roa__form-dropzone-list"></div>
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">Are You Legally Entitled To Work In The United States?</label>
          <div class="work-to-roa__form-fields-checkboxes d-flex">
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-legally-true" checked name="contact[legally]" value="Yes, legally">
              <label for="ContactForm-legally-true"><span class="round"></span>Yes, legally</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-legally-false" name="contact[legally]" value="No, it’s not">
              <label for="ContactForm-legally-false"><span class="round"></span>No, it’s not</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-to-roa__step" data-step="2" id="step_2">
      <div class="work-to-roa__info text-center">{{ ss.step_2 }}</div>
      <div class="work-to-roa__form-container-title-block">
        <p class="work-to-roa__form-container-title">Step 2. Jobs Avialable</p>
      </div>
      <div>
        <div class="work-to-roa__form-fields d-flex flex-column">
          <div class="work-to-roa__form-fields-checkboxes mt-0 d-flex flex-column">
            <label class="work-to-roa__form-heading mb-18">Current positions</label>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-1" name="contact[positions]" value="Fulfillment / Customer Service Rep (Towson, MD)">
              <label for="ContactForm-positions-1"><span class="round"></span>Fulfillment / Customer Service Rep (Towson, MD)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-2" name="contact[positions]" value="Office Administrator (Towson, MD)">
              <label for="ContactForm-positions-2"><span class="round"></span>Office Administrator (Towson, MD)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-3" name="contact[positions]" value="Social Media & Marketing Specialist (Towson, MD)">
              <label for="ContactForm-positions-3"><span class="round"></span>Social Media & Marketing Specialist (Towson, MD)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-4" name="contact[positions]" value="Graphic Designer / Product Development (Towson, MD or Remote)">
              <label for="ContactForm-positions-4"><span class="round"></span>Graphic Designer / Product Development (Towson, MD or Remote)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-5" name="contact[positions]" value="Photographer / Videographer (Freelance)">
              <label for="ContactForm-positions-5"><span class="round"></span>Photographer / Videographer (Freelance)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-6" name="contact[positions]" value="Model (Freelance)">
              <label for="ContactForm-positions-6"><span class="round"></span>Model (Freelance)</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="checkbox" id="ContactForm-positions-7" name="contact[positions]" value="Intern (Towson, MD)">
              <label for="ContactForm-positions-7"><span class="round"></span>Intern (Towson, MD)</label>
            </div>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-positions-8" name="contact[positions]" placeholder="Enter Other">
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">Why would you be a qualified fit for the position(s) you selected?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-qualified" name="contact[qualified]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-availability" class="work-to-roa__form-heading spacing-text-sm mb-18">Please describe your availability during our normal business hours per day</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-availability" name="contact[availability]"></textarea>
          <p class="work-to-roa__form-fields-undertext">Our normal business hours are between 9-5 PM, Monday thru Friday.</p>
        </div>
        <div class="work-to-roa__form-fields-checkboxes mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading mb-18">Location Preferences</label>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-location-preferences-1" name="contact[preferences]" value="I can't travel often to headquarters, but I can work remotely.">
            <label for="ContactForm-location-preferences-1"><span class="round"></span>I can't travel often to headquarters, but I can work remotely.</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-location-preferences-2" name="contact[preferences]" value="I intend to remain on campus.">
            <label for="ContactForm-location-preferences-2"><span class="round"></span>I intend to remain on campus.</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-location-preferences-3" name="contact[preferences]" value="I can travel wherever (across Maryland).">
            <label for="ContactForm-location-preferences-3"><span class="round"></span>I can travel wherever (across Maryland).</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-location-preferences-4" name="contact[preferences]" value="I hope to work at the main headquarters in Towson, MD.">
            <label for="ContactForm-location-preferences-4"><span class="round"></span>I hope to work at the main headquarters in Towson, MD.</label>
          </div>
        </div>
        <div class="work-to-roa__form-fields-checkboxes mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading mb-18">Payment Preferences</label>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-payment-preferences-1" name="contact[preferences]" value="I am willing to accept an unpaid position if no paid positions are available">
            <label for="ContactForm-payment-preferences-1"><span class="round"></span>I am willing to accept an unpaid position if no paid positions are available</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-payment-preferences-2" name="contact[preferences]" value="I am looking for a short-term internship (120 hours or 3 months) for school credit">
            <label for="ContactForm-payment-preferences-2"><span class="round"></span>I am looking for a short-term internship (120 hours or 3 months) for school credit</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-payment-preferences-3" name="contact[preferences]" value="I am looking for an internship that may lead to a full time position">
            <label for="ContactForm-payment-preferences-3"><span class="round"></span>I am looking for an internship that may lead to a full time position</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-payment-preferences-4" name="contact[preferences]" value="I am looking for an hourly pay part-time position">
            <label for="ContactForm-payment-preferences-4"><span class="round"></span>I am looking for an hourly pay part-time position</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-payment-preferences-5" name="contact[preferences]" value="I am looking for an hourly pay full-time position">
            <label for="ContactForm-payment-preferences-5"><span class="round"></span>I am looking for an hourly pay full-time position</label>
          </div>
          <input class="work-to-roa__form-input md" type="text" id="ContactForm-payment-preferences-6" name="contact[preferences]" placeholder="Enter Other">
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-hourly-pay" class="work-to-roa__form-heading">What is your requested hourly pay?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-hourly-pay" name="contact[hourly-pay]"></textarea>
        </div>
      </div>
    </div>
    <div class="work-to-roa__step" data-step="3" id="step_3">
      <div class="work-to-roa__info text-center">{{ ss.step_3 }}</div>
      <div class="work-to-roa__form-container-title-block">
        <p class="work-to-roa__form-container-title">Step 3. Social Involvement</p>
      </div>
      <div>
        <div class="work-to-roa__form-fields-checkboxes d-flex flex-column">
          <label class="work-to-roa__form-heading mb-18">What Social Media Platforms do you have a Presence?</label>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-1" name="contact[social]" value="Facebook">
            <label for="ContactForm-social-1"><span class="round"></span>Facebook</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-2" name="contact[social]" value="Twitter">
            <label for="ContactForm-social-2"><span class="round"></span>Twitter</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-3" name="contact[social]" value="Instagram">
            <label for="ContactForm-social-3"><span class="round"></span>Instagram</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-4" name="contact[social]" value="Pinterest">
            <label for="ContactForm-social-4"><span class="round"></span>Pinterest</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-5" name="contact[social]" value="Tumblr">
            <label for="ContactForm-social-5"><span class="round"></span>Tumblr</label>
          </div>
          <div class="work-to-roa__form-fields-checkbox">
            <input type="checkbox" id="ContactForm-social-6" name="contact[social]" value="Smartphone (such as iPhone or Android)">
            <label for="ContactForm-social-6"><span class="round"></span>Smartphone (such as iPhone or Android)</label>
          </div>
          <input class="work-to-roa__form-input md" type="text" id="ContactForm-social-7" name="contact[social]" placeholder="Enter Other">
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-social-8" class="work-to-roa__form-heading spacing-text-sm">Describe your presence on these social media site</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-social-8" name="contact[social]" placeholder="Provide important data. &#10 &#10Please, also provide links to all of your social media profiles for verification purposes."></textarea>
        </div>
        <div class="work-to-roa__form-fields-checkboxes d-flex flex-column">
          <label class="work-to-roa__form-heading mb-30">Are you a member of any extracurricular<br> organizations or activities?</label>
          <div class="d-flex mw-500">
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-activities-yes" name="contact[activities]" value="Yes">
              <label for="ContactForm-activities-yes"><span class="round"></span>Yes</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-activities-no" name="contact[activities]" value="No">
              <label for="ContactForm-activities-no"><span class="round"></span>No</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-activities-na" name="contact[activities]" value="N/A">
              <label for="ContactForm-activities-na"><span class="round"></span>N/A</label>
            </div>
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-social-8" class="work-to-roa__form-heading spacing-text-sm">If so, please describe your involvement</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-involvement" name="contact[involvement]" placeholder="Provide important data."></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-workload-range" class="work-to-roa__form-heading spacing-text-sm mb-40">Please scale your academic/extracurricular workload for the upcoming semester</label>
          <input type="hidden" id="ContactForm-workload-range" name="contact[workload-range]">
          <div class="work-to-roa__form-range d-flex align-items-center position-relative">
            <div class="work-to-roa__form-range-pull position-absolute d-flex align-items-center">
              <span></span>
              <span class="main position-absolute" data-value="0"></span>
            </div>
            <div class="work-to-roa__form-range-separators d-flex justify-content-between position-absolute">
              <span class="first"></span>
              <span></span>
              <span class="last"></span>
            </div>
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-important-data" class="work-to-roa__form-heading spacing-text-sm">How active can you be with Route One Apparel throughout the school year?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-important-data" name="contact[important-data]" placeholder="Provide important data."></textarea>
        </div>
      </div>
    </div>
    <div class="work-to-roa__step" data-step="4" id="step_4">
      <div class="work-to-roa__info text-center">{{ ss.step_4 }}</div>
      <div class="work-to-roa__form-container-title-block">
        <p class="work-to-roa__form-container-title">Step 4. Work History / Experience</p>
      </div>
      <div>
        <div class="work-to-roa__form-fields d-flex flex-column">
          <label class="work-to-roa__form-heading">FIRST EMPLOYERS NAME</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-employers-name" name="contact[employers-name]" placeholder="First employers name">
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">POSITION HELD</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-position-held" name="contact[position-held]">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">PAY</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-pay" name="contact[pay]">
          </div>
        </div>
        <div class="work-to-roa__form-fields sm-flex-column mt-wtr d-flex">
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">Supervisor's Name</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-supervisors-name" name="contact[supervisors-name]" placeholder="johnsmith@example.com">
          </div>
          <div class="input-with-label">
            <label class="work-to-roa__form-heading">PHONE NUMBER</label>
            <input class="work-to-roa__form-input md" type="text" id="ContactForm-phone-number" name="contact[phone-number]" placeholder="+31312313123123">
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading text-transform-none">Reason for Departure</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-Departure" name="contact[departure]" >
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading text-transform-none">Duties</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-Duties" name="contact[duties]">
        </div>
        <p class="work-to-roa__form-heading mt-wtr">Start Date of Employment</p>
        <div class="work-to-roa__form-fields date-2 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-month" name="contact[month]" placeholder="Month">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-day" name="contact[day]" placeholder="Day">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-year" name="contact[year]" placeholder="Year">
            <span class="NativeDatepicker"><input type="date" class="NativeDatepicker__input" required="required" name="contact[start-date-employment]"></span>
          </div>
        </div>
        <p class="work-to-roa__form-heading mt-wtr">END Date of Employment</p>
        <div class="work-to-roa__form-fields date-2 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-month" name="contact[month]" placeholder="Month">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-day" name="contact[day]" placeholder="Day">
            <input class="work-to-roa__form-input sm" type="text" id="ContactForm-year" name="contact[year]" placeholder="Year">
            <span class="NativeDatepicker"><input type="date" class="NativeDatepicker__input" required="required" name="contact[end-date-employment]"></span>
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">May we contact this employer?</label>
          <div class="work-to-roa__form-fields-checkboxes d-flex">
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-contact-employer-true" checked name="contact[legally]" value="Yes, you can">
              <label for="ContactForm-contact-employer-true"><span class="round"></span>Yes, you can</label>
            </div>
            <div class="work-to-roa__form-fields-checkbox">
              <input type="radio" id="ContactForm-contact-employer-false" name="contact[legally]" value="No, don’t do this">
              <label for="ContactForm-contact-employer-false"><span class="round"></span>No, don’t do this</label>
            </div>
          </div>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label class="work-to-roa__form-heading">If «No» reason, why not?</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-why-not" name="contact[why-not]">
        </div>
        <div class="work-to-roa__form-container-title-block">
          <p class="work-to-roa__form-container-title in-form">Brief Answer / Essay Questions</p>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">Why are you applying to work for Route One Apparel?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-why-applying" name="contact[why-applying]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">If your best friend were to describe you, what would he/she say would be your three (3) best and three (3) worst characteristics?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-characteristic" name="contact[characteristic]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">Describe any leadership experience that you may have?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-describe-experience" name="contact[describe-experience]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">What is your favorite and least favorite thing about Maryland?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-thing-a-maryland" name="contact[thing-a-maryland]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">If you were an animal, which would you be and why?</label>
          <textarea class="work-to-roa__form-textarea lg" id="ContactForm-animal" name="contact[animal]"></textarea>
        </div>
        <div class="work-to-roa__form-fields mt-wtr d-flex flex-column">
          <label for="ContactForm-qualified" class="work-to-roa__form-heading spacing-text-sm">I verify that all information on this application is valid</label>
          <input class="work-to-roa__form-input lg" type="text" id="ContactForm-verify" name="contact[verify]">
        </div>
        <div class="work-to-roa__form-dragndrop">
          <label class="work-to-roa__form-heading">Please, upload Your Resume</label>
          <div class="work-to-roa__form-dragndrop-container d-flex">
            <div class="work-to-roa__form-dropzone d-flex flex-column justify-content-center align-items-center" id="dropzone">
              <svg width="51" height="56" viewBox="0 0 51 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92242 36.5847H18.8856C18.5322 37.9724 18.3301 39.4109 18.343 40.8994C18.343 43.2711 18.8223 45.5419 19.6926 47.5602H4.49121C1.9931 47.5602 0 45.5671 0 43.0566V4.55402C0 2.04352 1.9931 0 4.49121 0H23.8433V8.18732C23.8433 11.1016 26.215 13.4984 29.1416 13.4984H36.7111V23.8685C36.5965 23.8599 36.4902 23.8513 36.3897 23.8431C36.0477 23.8154 35.771 23.7929 35.4495 23.7929C31.0719 23.7929 27.0601 25.4831 24.0326 28.1324H7.92242C7.36743 28.1324 6.91327 28.5866 6.91327 29.1416C6.91327 29.697 7.36743 30.1508 7.92242 30.1508H22.1151C21.0551 31.5385 20.1972 32.9266 19.5542 34.5663H7.92242C7.36743 34.5663 6.91327 35.0205 6.91327 35.5755C6.91327 36.1309 7.36743 36.5847 7.92242 36.5847ZM20.7022 21.8246H7.92242C7.36743 21.8246 6.91327 22.2787 6.91327 22.8342C6.91327 23.3892 7.36743 23.8433 7.92242 23.8433H20.7022C21.2572 23.8433 21.7114 23.3892 21.7114 22.8342C21.7114 22.2787 21.2572 21.8246 20.7022 21.8246Z" fill="#CF3231"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3613 40.9245C20.3613 32.6107 27.1234 25.8491 35.4367 25.8491C43.7505 25.8491 50.5125 32.6107 50.5125 40.9245C50.5125 49.2379 43.7505 55.9999 35.4367 55.9999C27.1234 55.9999 20.3613 49.2379 20.3613 40.9245ZM36.4587 42.0093H40.5714C41.1263 42.0093 41.5805 41.5551 41.5805 41.0001C41.5805 40.4451 41.1268 39.991 40.5714 39.991H36.4587V35.8151C36.4587 35.2601 36.0049 34.8059 35.4495 34.8059C34.8945 34.8059 34.4404 35.2601 34.4404 35.8151V39.991H30.2649C29.7095 39.991 29.2553 40.4451 29.2553 41.0001C29.2553 41.5551 29.7095 42.0093 30.2649 42.0093H34.4404V46.1219C34.4404 46.6769 34.8945 47.1311 35.4495 47.1311C36.0049 47.1311 36.4587 46.6769 36.4587 46.1219V42.0093Z" fill="#CF3231"/><path d="M29.1418 11.4799H35.3236L25.8618 1.52637V8.18713C25.8618 9.99139 27.3251 11.4799 29.1418 11.4799Z" fill="#CF3231"/></svg>
              <p class="work-to-roa__form-dropzone-text">Drag & Drop you files here</p>
              <p class="work-to-roa__form-dropzone-undertext">Need file manager? Click <span>here</span></p>
              <input type="file" id="ContactForm-files-transcript" class="work-to-roa__form-dropzone-input" accept="image/*" name="contact[files-transcript]" multiple>
            </div>
            <div class="d-flex flex-column work-to-roa__form-dropzone-list"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-to-roa__form-btncontainer d-flex justify-content-between">
      <button type="button" class="btn-red-2 work-to-roa__form-btn" id="prev_step">PREVIOUS STEP</button>
      <button type="button" class="btn-red-1 work-to-roa__form-btn" id="next_step">NEXT STEP</button>
      <button type="submit" class="btn-red-1 work-to-roa__form-btn" id="submit_step">SUBMIT</button>
    </div>
  {%- endform -%}
</div>
<script src="{{ 'work-to-roa.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Work to ROA",
  "tag": "section",
  "class": "section work-to-roa",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "transparent",
      "options": [
        {
          "value": "transparent",
          "label": "Transparent"
        },
        {
          "value": "#FCFCFC",
          "label": "Green"
        }
      ]
    },
    {
      "type": "header",
      "content": "Info about steps"
    },
    {
      "type": "richtext",
      "id": "step_1",
      "label": "Step 1"
    },
    {
      "type": "richtext",
      "id": "step_2",
      "label": "Step 2"
    },
    {
      "type": "richtext",
      "id": "step_3",
      "label": "Step 3"
    },
    {
      "type": "richtext",
      "id": "step_4",
      "label": "Step 4"
    }
  ],
  "presets": [
    {
      "name": "Work to ROA"
    }
  ]
}
{% endschema %}